/*
#
#	Stylish  -  Xfce  -  Theme
#
#	Copyright (C) 2020  by TheFranKenstein
#
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
*/


/* 	the panel, menubars/menus of the panel, i.e. indicators */
#panel_window,
#panel_window menubar {
		min-height: 30px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: @button_active;
		color: @text_button_normal;
		box-shadow: none; }

#panel_window menubar > menuitem {
			min-height: 16px;
			border-radius: 0px;
			padding: 4px;
			margin: 4px;
			background-color: transparent;
			color: @fg_color; }
		#panel_window menubar > menuitem label {
			min-width: 40px;
			padding-left: 4px;
			padding-right: 4px;
			color: @fg_color;
			font-weight: bold; }
		#panel_window menubar > menuitem image {
			margin-left: 4px;
			margin-right: 4px;
			color: @fg_color;
			-gtk-icon-shadow: -0.4px 0 #000000, 0.4px 0 #000000, 0 0.4px #000000, 0 -0.4px #000000; }
	#panel_window menubar > menuitem:hover {
			background-color: @selected_bg_color;
			color: @selected_fg_color;
			animation: menubar_key 0.4s ease-in-out; }
		#panel_window menubar > menuitem:hover label {
			color: @selected_fg_color;
			text-shadow: 1px 0 alpha(black, 0.50), 0 1px alpha(black, 0.50); }
	#panel_window menubar > menuitem:disabled {
			background-color: transparent;
			color: @tree_fg_insensitive;
			text-shadow: none; }
		#panel_window menubar > menuitem:disabled label {
			color: @tree_fg_insensitive; }
		#panel_window menubar > menuitem:disabled image {
			color: @tree_fg_insensitive;
			-gtk-icon-shadow: -0.4px 0 @window_backdrop, 0.4px 0 @window_backdrop, 0 0.4px @window_backdrop, 0 -0.4px @window_backdrop; }



#panel_window menu,
#login_window menu,
#login_window #user_combobox menu {
			padding: 4px;
			border-radius: 0px;
			border: 1px solid @border_menu;
			background-color: @base_color;
			font-weight: normal;
			color: @text_color;
			box-shadow: none; }


#panel_window menu menuitem,
#login_window menu menuitem,
#login_window #user_combobox menu menuitem {
			min-height: 18px;
			min-width: 100px;
			padding: 3px;
			padding-left: 10px;
			padding-right: 10px;
			border-radius: 0px;
			border: none;
			background-color: @base_color;
			color: @text_color; }
		#panel_window menu menuitem label,
		#login_window menu menuitem label,
		#login_window #user_combobox menu menuitem label {
			color: @text_color;
			font-weight: normal; }

#panel_window menu menuitem:hover,
#login_window menu menuitem:hover,
#login_window #user_combobox menu menuitem:hover {
			background-color: @selected_bg_color;
			color: @selected_fg_color;
			transition: all ease-in-out; }
		#panel_window menu menuitem:hover label,
		#login_window menu menuitem:hover label,
		#login_window #user_combobox menu menuitem:hover label {
			color: @selected_fg_color;
			text-shadow: 1px 0 alpha(black, 0.30), 0 1px alpha(black, 0.30); }

#panel_window menu menuitem:disabled,
#panel_window menu menuitem *:disabled,
#login_window menu menuitem:disabled,
#login_window menu menuitem *:disabled,
#login_window #user_combobox menu menuitem:disabled {
			background-color: @base_color;
			color: @tree_fg_insensitive; }
		#panel_window menu menuitem:disabled label,
		#panel_window menu menuitem *:disabled label,
		#login_window menu menuitem:disabled label,
		#login_window menu menuitem *:disabled label,
		#login_window #user_combobox menu menuitem:disabled label {
			color: @tree_fg_insensitive;
			text-shadow: none; }



/* 	the login window */
#login_window,
#shutdown_dialog,
#restart_dialog {
			border-radius: 0px;
			padding: 0px;
			padding-left: 16px;
			padding-right: 16px;
			background-color: @bg_color;
			color: @text_color;
			border: 1px solid @window_active;
			box-shadow: none; }



/* 	the top half of the login-window, in GtkDialog terms, the content */
#content_frame {
			padding: 4px; }


#login_window #user_combobox button.combo {
			min-height: 24px;
			padding: 1px;
			margin: 1px;
			margin-left: 0px;
			margin-right: 0px; }
	#login_window #user_combobox cellview {
			font-weight: bold; }
	#login_window #user_combobox arrow {
			color: @arrow_normal; }


/* 	the entries, one for the username, one for the password */
#login_window entry {
			margin-left: 0px;
			margin-right: 0px;
			font-weight: bold; }
	#login_window entry:focus {
			color: @text_prelight;
			font-weight: bold; }


/* 	the user's avatar box */
#user_image {
			border-radius: 0px;
			padding: 1px; }


/* the border around the user's avatar box */
#user_image_border {
			border-radius: 0px;
			border: 1px solid @border_menu;
			background-color: @button_active;
			color: @text_color;
			box-shadow: none;
			-gtk-icon-shadow: -0.6px 0 @window_active, 0.6px 0 @window_active, 0 0.6px @window_active, 0 -0.6px @window_active; }
             

/* 	the lower half of the login-window, in GtkDialog terms the buttonbox or action area */
#buttonbox_frame {
			padding-top: 4px;
			border-style: none;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			background-color: transparent;
			box-shadow: none; }


/* 	the shutdown button */
#shutdown_button.button {
				background-color: @bg_color;
				border-image: -gtk-scaled(url("assets/button-destructive-normal.svg")) 3 3 3 3/3px 3px 3px 3px stretch;
				color: @scale_trough_end;
				box-shadow: none; }
		#shutdown_button.button label {
				color: @scale_trough_end;
				text-shadow: 1px 0 alpha(@scale_trough_end, 0.50), 0 1px alpha(@scale_trough_end, 0.50); }
	#shutdown_button.button:hover,
	#shutdown_button.button:active,
	#shutdown_button.button:active:hover {
				background-color: @bg_color;
				border-image: -gtk-scaled(url("assets/button-destructive-prelight.svg")) 3 3 3 3/3px 3px 3px 3px stretch;
				color: @scale_trough_end;
				transition: all 0.3s ease-in-out;
				animation: none;
				box-shadow: none; }
		#shutdown_button.button:hover label,
		#shutdown_button.button:active label,
		#shutdown_button.button:active:hover label {
				color: @scale_trough_end;
				text-shadow: 1px 0 alpha(@scale_trough_end, 0.50), 0 1px alpha(@scale_trough_end, 0.50); }


/* 	the restart button */
#restart_button.button {
				background-color: @bg_color;
				border-image: -gtk-scaled(url("assets/button-suggested-normal.svg")) 3 3 3 3/3px 3px 3px 3px stretch;
				color: #00FFFF;
				box-shadow: none; }
		#restart_button.button label {
				color: #00FFFF;
				text-shadow: 1px 0 alpha(#00FFFF, 0.30), 0 1px alpha(#00FFFF, 0.30); }
	#restart_button.button:hover,
	#restart_button.button:active,
	#restart_button.button:active:hover {
				background-color: @bg_color;
				border-image: -gtk-scaled(url("assets/button-suggested-prelight.svg")) 3 3 3 3/3px 3px 3px 3px stretch;
				color: #00FFFF;
				transition: all 0.3s ease-in-out;
				animation: none;
				box-shadow: none; }
		#restart_button.button:hover label,
		#restart_button.button:active label,
		#restart_button.button:active:hover label {
				color: #00FFFF;
				text-shadow: 1px 0 alpha(#00FFFF, 0.30), 0 1px alpha(#00FFFF, 0.30); }


/* 	the buttons, alternatively this could also be done with a simple ".lightdm-gtk-greeter .button" */
	#login_window button.default label,
	#login_window button.default:hover label,
	#login_window button.default:active label,
	#login_window button.default:active:hover label,
	#login_window button label,
	#login_window button:hover label,
	#login_window button:active label,
	#login_window button:active:hover label,
	#shutdown_dialog button label,
	#shutdown_dialog button:hover label,
	#shutdown_dialog button:active label,
	#shutdown_dialog button:active:hover label,
	#restart_dialog button label,
	#restart_dialog button:hover label,
	#restart_dialog button:active label,
	#restart_dialog button:active:hover label,
	#login_window button.default label,
	#login_window button.default:hover label,
	#login_window button.default:active label,
	#login_window button.default:active:hover label {
		min-width: 100px;
		padding-left: 10px;
		padding-right: 10px; }


/* 	the warning, in case a wrong password is entered or something else goes wrong according to PAM */
#greeter_infobar {
		font-size: 100%; }



