stage {
  font-family: Noto Sans, Cantarell Sans-Serif;
  font-size: 9pt;
  color: #2e2e2e;
}

.label-shadow {
  color: rgba(0, 0, 0, 0);
}

.popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button, .notification-button, .notification-icon-button, .modal-dialog-button-box .modal-dialog-button, .sound-button {
  min-height: 2px;
  padding: 2px 16px;
  transition-duration: 0;
  border-image: url("assets/buttons/button-default.svg") 4;
}

.popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button, .notification-button, .notification-icon-button, .modal-dialog-button-box .modal-dialog-button, .sound-button, .popup-menu #notification .notification-button:focus, .popup-menu #notification .notification-icon-button:focus, .notification-button:focus, .notification-icon-button:focus, .modal-dialog-button-box .modal-dialog-button:focus, .sound-button:focus, .popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button-box .modal-dialog-button:hover, .sound-button:hover, .popup-menu #notification .notification-button:hover:focus, .popup-menu #notification .notification-icon-button:hover:focus, .notification-button:hover:focus, .notification-icon-button:hover:focus, .modal-dialog-button-box .modal-dialog-button:hover:focus, .sound-button:hover:focus, .popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button-box .modal-dialog-button:active, .sound-button:active, .popup-menu #notification .notification-button:active:focus, .popup-menu #notification .notification-icon-button:active:focus, .notification-button:active:focus, .notification-icon-button:active:focus, .modal-dialog-button-box .modal-dialog-button:active:focus, .sound-button:active:focus, .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive, .notification-button:insensitive, .notification-icon-button:insensitive, .modal-dialog-button-box .modal-dialog-button:insensitive, .sound-button:insensitive {
  border-radius: 2px;
}

.popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button-box .modal-dialog-button:hover, .sound-button:hover {
  border-image: url("assets/buttons/button-default-hover.svg") 4;
}

.popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button-box .modal-dialog-button:active, .sound-button:active {
  border-image: url("assets/buttons/button-default-active.svg") 4;
}

.popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive, .notification-button:insensitive, .notification-icon-button:insensitive, .modal-dialog-button-box .modal-dialog-button:insensitive, .sound-button:insensitive {
  border-image: url("assets/buttons/button-default-disabled.svg") 4;
}

.popup-menu #notification StEntry, .run-dialog-entry, #menu-search-entry,
.notification StEntry {
  padding: 7px;
  caret-size: 1px;
  selection-background-color: #3689e6;
  selected-color: #ffffff;
  transition-duration: 300ms;
  border-radius: 3px;
  border-image: url("assets/entries/entry-default.svg") 4;
}

.popup-menu #notification StEntry:focus, .run-dialog-entry:focus, #menu-search-entry:focus, .popup-menu #notification StEntry:hover, .run-dialog-entry:hover, #menu-search-entry:hover,
.notification StEntry:focus,
.notification StEntry:hover {
  border-image: url("assets/entries/entry-default-focus.svg") 4;
}

.popup-menu #notification StEntry:insensitive, .run-dialog-entry:insensitive, #menu-search-entry:insensitive,
.notification StEntry:insensitive {
  border-image: url("assets/entries/entry-default-disabled.svg") 4;
}

.popup-menu #notification StEntry StIcon.capslock-warning, .run-dialog-entry StIcon.capslock-warning, #menu-search-entry StIcon.capslock-warning,
.notification StEntry StIcon.capslock-warning {
  icon-size: 16px;
  warning-color: #f9c440;
  padding: 0 4px;
}

StScrollView.vfade {
  -st-vfade-offset: 68px;
}

StScrollView.hfade {
  -st-hfade-offset: 68px;
}

StScrollBar {
  padding: 2px;
}

StScrollView StScrollBar {
  min-width: 6px;
  min-height: 6px;
}

StScrollBar StBin#trough {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.15);
}

StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
  border-radius: 8px;
  background-color: #7d7d7d;
  border: 0px solid;
  margin: 0;
}

StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover {
  background-color: #555555;
}

StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active {
  background-color: #3689e6;
}

.separator {
  -gradient-height: 1px;
  -gradient-start: rgba(0, 0, 0, 0);
  -gradient-end: rgba(0, 0, 0, 0);
  -margin-horizontal: 1.5em;
  height: 1em;
}

.popup-slider-menu-item,
.slider {
  -slider-height: 3px;
  -slider-background-color: #e9e9e9;
  -slider-border-color: #b3b3b3;
  -slider-active-background-color: #3689e6;
  -slider-active-border-color: #0e3f75;
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
  height: 1em;
  min-width: 15em;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
}

.check-box CinnamonGenericContainer {
  spacing: .2em;
  min-height: 30px;
  padding-top: 2px;
}

.check-box StLabel {
  font-weight: normal;
}

.check-box StBin {
  width: 16px;
  height: 16px;
  background-image: url("assets/checkbox-unchecked.svg");
}

.check-box:focus StBin {
  background-image: url("assets/checkbox-unchecked-focused.svg");
}

.check-box:checked StBin {
  background-image: url("assets/checkbox-checked.svg");
}

.check-box:focus:checked StBin {
  background-image: url("assets/checkbox-checked-focused.svg");
}

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 26px;
  padding-top: 2px;
}

.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.9em;
  box-shadow: none;
}

.radiobutton StBin {
  width: 16px;
  height: 16px;
  background-image: url("assets/checkbox-unchecked.svg");
}

.radiobutton:focus StBin {
  background-image: url("assets/checkbox-unchecked-focused.svg");
}

.radiobutton:checked StBin {
  background-image: url("assets/checkbox-checked.svg");
}

.radiobutton:focus:checked StBin {
  background-image: url("assets/checkbox-checked-focused.svg");
}

.toggle-switch {
  width: 28px;
  height: 14px;
  background-size: contain;
}

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("assets/toggle-off.svg");
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url("assets/toggle-on.svg");
}

.cinnamon-link {
  color: #1a6fcf;
  text-decoration: underline;
}

.cinnamon-link:hover {
  color: #3689e6;
}

#Tooltip {
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  padding: 5px 12px;
  background-color: #f3f3f3;
  color: #2e2e2e;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}

#LookingGlassDialog {
  color: #2e2e2e;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  background-color: #f3f3f3;
  spacing: 4px;
  padding: 8px;
}

.menu {
  color: #2e2e2e;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: none;
  border-image: url("assets/mpb-background.svg") 9;
}

.menu.top {
  border-radius: 0 0 3px 3px;
}

.menu.bottom {
  border-radius: 3px 3px 0 0;
}

.menu.left {
  border-radius: 0 3px 3px 0;
}

.menu.right {
  border-radius: 3px 0 0 3px;
}

.menu-arrow {
  icon-size: 16px;
}

.menu .popup-sub-menu {
  background-color: #eeeeee;
  border-top: 1px solid silver;
  box-shadow: inset 0 -1px 0px silver;
}

.menu .popup-sub-menu .popup-menu-item:ltr {
  padding-right: 6px;
}

.menu .popup-sub-menu .popup-menu-item:rtl {
  padding-left: 6px;
}

.menu .popup-sub-menu StScrollBar {
  padding: 4px;
}

.menu .popup-sub-menu StScrollBar StBin#trough, .menu .popup-sub-menu StScrollBar StBin#vhandle {
  border-width: 0;
}

.menu .popup-menu-content {
  margin: 8px 5px 8px;
  padding: 8px 0;
}

.menu .popup-menu-item {
  padding: 0.4em 24px 0.4em 24px;
  spacing: 8px;
  border-left-width: 0;
  border-right-width: 0;
}

.menu .popup-menu-item:checked {
  background-color: #eeeeee;
  box-shadow: inset 0 1px 0px silver;
  font-weight: bold;
}

.menu .popup-menu-item.selected {
  background-color: rgba(46, 46, 46, 0.1);
  color: #2e2e2e;
}

.menu .popup-menu-item:active {
  background-color: #3689e6;
  color: #ffffff;
}

.menu .popup-menu-item:insensitive {
  color: rgba(46, 46, 46, 0.5);
}

.menu .popup-inactive-menu-item {
  color: #2e2e2e;
}

.menu .popup-inactive-menu-item:insensitive {
  color: rgba(46, 46, 46, 0.5);
}

.menu-icon {
  icon-size: 16px;
}

/* This is for popup menus in Cinnamon versions < 3.2 */
.popup-menu {
  color: #2e2e2e;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  box-shadow: none;
  padding: 5px;
  border-image: url("assets/mpb-background.svg") 9;
}

.popup-menu-arrow {
  icon-size: 16px;
}

.popup-menu .popup-sub-menu {
  background-color: #f8f8f8;
  box-shadow: none;
}

.popup-menu .popup-sub-menu .popup-menu-item:ltr {
  padding-right: 1.75em;
}

.popup-menu .popup-sub-menu .popup-menu-item:rtl {
  padding-left: 1.75em;
}

.popup-menu .popup-sub-menu StScrollBar {
  padding: 4px;
}

.popup-menu .popup-sub-menu StScrollBar StBin#trough, .popup-menu .popup-sub-menu StScrollBar StBin#vhandle {
  border-width: 0;
}

.popup-menu .popup-menu-content {
  padding: 1em 0em 1em 0em;
}

.popup-menu .popup-menu-item {
  padding: 0.4em 24px 0.4em 24px;
  spacing: 8px;
  border-left-width: 0;
  border-right-width: 0;
}

.popup-menu .popup-menu-item:checked {
  background-color: #eeeeee;
  box-shadow: inset 0 1px 0px silver;
  font-weight: bold;
}

.popup-menu .popup-menu-item.selected {
  background-color: rgba(46, 46, 46, 0.1);
  color: #2e2e2e;
}

.popup-menu .popup-menu-item:active {
  background-color: #3689e6;
  color: #ffffff;
}

.popup-menu .popup-menu-item:insensitive {
  color: rgba(46, 46, 46, 0.5);
}

.popup-menu .popup-inactive-menu-item {
  color: #2e2e2e;
}

.popup-menu .popup-inactive-menu-item:insensitive {
  color: rgba(46, 46, 46, 0.5);
}

.popup-menu-icon {
  icon-size: 16px;
}

.popup-menu-boxpointer {
  -arrow-border-radius: 3px;
  -arrow-background-color: transparent;
  -arrow-border-width: 1px;
  -arrow-border-color: transparent;
  -arrow-base: 21px;
  -arrow-rise: 9px;
  -boxpointer-gap: 2px;
}

/*Don't know what this does*/
.popup-combo-menu {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 0em;
  color: red;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.popup-combobox-item {
  spacing: 1em;
}

.popup-separator-menu-item {
  height: 1px;
  margin: 6px 64px;
  background-color: transparent;
  border-color: #cdcdcd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.popup-alternating-menu-item:alternate {
  font-weight: normal;
}

.popup-device-menu-item {
  spacing: .5em;
}

.popup-subtitle-menu-item {
  font-weight: bold;
}

.nm-menu-item-icons {
  spacing: .5em;
}

#panel {
  font-weight: bold;
  /* sets the height of horizontal panels */
  height: 27px;
  /* sets the width of vertical panels */
  width: 32px;
}

#panelLeft {
  spacing: 4px;
}

#panelLeft:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 0, 0, 0.05);
  background-gradient-end: rgba(255, 0, 0, 0.2);
}

#panelLeft:ltr {
  padding-right: 4px;
}

#panelLeft:rtl {
  padding-left: 4px;
}

#panelLeft.vertical {
  padding: 0px;
}

#panelLeft.vertical:ltr {
  padding-right: 0px;
}

#panelLeft.vertical:rtl {
  padding-left: 0px;
}

#panelRight:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 255, 0.05);
  background-gradient-end: rgba(0, 0, 255, 0.2);
}

#panelRight:ltr {
  padding-left: 4px;
  spacing: 0px;
}

#panelRight:rtl {
  padding-right: 4px;
  spacing: 0px;
}

#panelRight.vertical {
  padding: 0px;
}

#panelRight.vertical:ltr {
  padding-right: 0px;
}

#panelRight.vertical:rtl {
  padding-left: 0px;
}

#panelCenter {
  spacing: 4px;
}

#panelCenter:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 255, 0, 0.05);
  background-gradient-end: rgba(0, 255, 0, 0.2);
}

#panel:highlight {
  border-image: none;
  background-color: rgba(198, 38, 46, 0.5);
}

.panelLeft {
  spacing: 4px;
}

.panelLeft:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 0, 0, 0.05);
  background-gradient-end: rgba(255, 0, 0, 0.2);
}

.panelLeft:ltr {
  padding-right: 4px;
}

.panelLeft:rtl {
  padding-left: 4px;
}

.panelLeft.vertical {
  padding: 0px;
}

.panelLeft.vertical:ltr {
  padding-right: 0px;
}

.panelLeft.vertical:rtl {
  padding-left: 0px;
}

.panelRight:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 255, 0.05);
  background-gradient-end: rgba(0, 0, 255, 0.2);
}

.panelRight:ltr {
  padding-left: 4px;
  spacing: 0px;
}

.panelRight:rtl {
  padding-right: 4px;
  spacing: 0px;
}

.panelRight.vertical {
  padding: 0px;
}

.panelRight.vertical:ltr {
  padding-left: 0px;
  spacing: 0px;
}

.panelRight.vertical:rtl {
  padding-right: 0px;
  spacing: 0px;
}

.panelCenter {
  spacing: 4px;
}

.panelCenter.vertical {
  padding-left: 0px;
  padding-right: 0px;
}

.panelCenter:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 255, 0, 0.05);
  background-gradient-end: rgba(0, 255, 0, 0.2);
}

.panel-top, .panel-bottom, .panel-left, .panel-right {
  color: #eeeeee;
  border: none;
  background-color: transparent;
  font-size: 1em;
  padding: 0px;
}

.panel-top {
  border-image: url("assets/panel-top.svg") 4;
  border-bottom: 1px solid transparent;
}

.panel-bottom {
  border-image: url("assets/panel-bottom.svg") 4;
  border-top: 1px solid transparent;
}

.panel-left {
  border-image: url("assets/panel-left.svg") 4;
  border-right: 1px solid transparent;
}

.panel-right {
  border-image: url("assets/panel-right.svg") 4;
  border-left: 1px solid transparent;
}

.panel-dummy {
  background-color: rgba(198, 38, 46, 0.5);
}

.panel-dummy:entered {
  background-color: rgba(198, 38, 46, 0.6);
}

.panel-status-button {
  border-width: 0;
  -natural-hpadding: 3px;
  -minimum-hpadding: 3px;
  font-weight: bold;
  color: #2e2e2e;
  height: 22px;
}

.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: bold;
  color: green;
  transition-duration: 100;
}

.system-status-icon {
  icon-size: 16px;
  padding: 0 1px;
}

.system-status-icon.warning {
  color: #f9c440;
}

.system-status-icon.error {
  color: #c6262e;
}

#overview {
  spacing: 12px;
}

.window-caption {
  background-color: rgba(0, 0, 0, 0.75);
  border: 0;
  color: #eeeeee;
  spacing: 25px;
  border-radius: 3px;
  font-size: 9pt;
  padding: 4px 8px;
  margin-top: 8px;
  -cinnamon-caption-spacing: 0px;
}

.window-caption#selected {
  background-color: #3689e6;
  color: #ffffff;
  spacing: 25px;
}

.expo-workspaces-name-entry,
.expo-workspaces-name-entry#selected {
  height: 15px;
  border-radius: 2px;
  padding: 4px 8px;
  -cinnamon-caption-spacing: 4px;
  color: #eeeeee;
  font-weight: bold;
}

.expo-workspaces-name-entry:focus,
.expo-workspaces-name-entry#selected:focus {
  border: 0;
  background-color: #3689e6;
  color: #ffffff;
  transition-duration: 300;
  selection-background-color: #ffffff;
  selected-color: #3689e6;
}

.expo-workspace-thumbnail-frame {
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
}

.expo-workspace-thumbnail-frame#active {
  border: 2px solid #3689e6;
  background-color: black;
  border-radius: 2px;
}

.expo-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.workspace-thumbnails {
  spacing: 26px;
}

.workspace-thumbnails-background, .workspace-thumbnails-background:rtl {
  padding: 8px;
}

.workspace-add-button {
  background-image: url("assets/add-workspace.svg");
  height: 48px;
  width: 48px;
  transition-duration: 100;
}

.workspace-add-button:hover {
  background-image: url("assets/add-workspace-hover.svg");
  transition-duration: 100;
}

.workspace-add-button:active {
  background-image: url("assets/add-workspace-active.svg");
  transition-duration: 100;
}

.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.5);
}

.workspace-close-button,
.window-close {
  background-image: url("assets/close.svg");
  background-size: 24px;
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 10px;
}

.workspace-close-button:hover,
.window-close:hover {
  background-image: url("assets/close-hover.svg");
  background-size: 24px;
  height: 26px;
  width: 26px;
}

.workspace-close-button:active,
.window-close:active {
  background-image: url("assets/close-active.svg");
  background-size: 24px;
  height: 26px;
  width: 26px;
}

.window-close-area {
  background-image: url("assets/trash-icon.svg");
  height: 120px;
  width: 400px;
}

.about-content {
  width: 550px;
  padding: 8px;
}

.about-title {
  font-size: 1.2em;
  font-weight: bold;
}

.about-uuid {
  font-size: 0.9em;
  color: #888;
}

.about-icon {
  padding-right: 12px;
}

.about-scrollBox {
  height: 100px;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  background-color: #f8f8f8;
  padding: 4px;
  padding-right: 0;
  border-radius: 0;
}

.about-scrollBox-innerBox {
  padding: 4px;
  spacing: 4px;
}

.about-description {
  padding-top: 4px;
  padding-bottom: 4px;
}

.about-version {
  font-size: 1.0em;
  color: #888;
}

.calendar {
  padding: .4em 1.75em;
  spacing-rows: 0px;
  spacing-columns: 0px;
}

.calendar-month-label {
  color: #2e2e2e;
  font-weight: bold;
  padding: 8px 0;
}

.calendar-change-month-back,
.calendar-change-month-forward {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.calendar-change-month-back {
  background-image: url("assets/calendar-arrow-left.svg");
  background-size: 16px;
}

.calendar-change-month-back:hover, .calendar-change-month-back:focus {
  background-color: rgba(46, 46, 46, 0.05);
}

.calendar-change-month-back:active {
  background-color: rgba(243, 243, 243, 0.05);
}

.calendar-change-month-back:rtl {
  background-image: url("assets/calendar-arrow-right.svg");
}

.calendar-change-month-back:rtl:hover, .calendar-change-month-back:rtl:focus {
  background-color: rgba(46, 46, 46, 0.05);
}

.calendar-change-month-back:rtl:active {
  background-color: rgba(243, 243, 243, 0.05);
}

.calendar-change-month-forward {
  background-image: url("assets/calendar-arrow-right.svg");
  background-size: 16px;
}

.calendar-change-month-forward:hover, .calendar-change-month-forward:focus {
  background-color: rgba(46, 46, 46, 0.05);
}

.calendar-change-month-forward:active {
  background-color: rgba(243, 243, 243, 0.05);
}

.calendar-change-month-forward:rtl {
  background-image: url("assets/calendar-arrow-left.svg");
}

.calendar-change-month-forward:rtl:hover, .calendar-change-month-forward:rtl:focus {
  background-color: rgba(46, 46, 46, 0.05);
}

.calendar-change-month-forward:rtl:active {
  background-color: rgba(243, 243, 243, 0.05);
}

.datemenu-date-label {
  padding: .4em 1.75em;
  font-weight: bold;
  text-align: center;
  color: #2e2e2e;
  border-radius: 2px;
}

.calendar-day-base {
  font-size: 85%;
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 0.1em;
  margin: 2px;
  border-radius: 12.5px;
}

.calendar-day-heading {
  color: rgba(46, 46, 46, 0.85);
  margin-top: 1em;
  font-size: 80%;
}

.calendar-day {
  border-width: 0;
  color: rgba(46, 46, 46, 0.9);
}

.calendar-day-top {
  border-top-width: 0;
}

.calendar-day-left {
  border-left-width: 0;
}

.calendar-nonwork-day {
  color: #2e2e2e;
  background-color: transparent;
  font-weight: bold;
}

.calendar-today,
.calendar-today:active,
.calendar-today:focus,
.calendar-today:hover {
  font-weight: bold;
  color: #ffffff;
  background-color: #3689e6;
  border-width: 0;
}

.calendar-other-month-day {
  color: rgba(46, 46, 46, 0.3);
  opacity: 1;
}

.calendar-week-number {
  color: rgba(46, 46, 46, 0.85);
  font-size: 80%;
}

#notification {
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  padding: 13px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: #2e2e2e;
  border-image: url("assets/mpb-background.svg") 9;
}

.popup-menu #notification {
  color: #2e2e2e;
  border-image: url("assets/mpb-background.svg") 9;
}

.popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button {
  padding: 5px 10px;
}

#notification.multi-line-notification {
  padding-bottom: 13px;
  color: #2e2e2e;
}

#notification-scrollview {
  max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
  height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}

#notification-body {
  spacing: 5px;
}

#notification-actions {
  spacing: 10px;
}

.notification-with-image {
  min-height: 159px;
  color: #2e2e2e;
}

.notification-button, .notification-icon-button {
  padding: 5px;
}

.notification-icon-button > StIcon {
  icon-size: 32px;
}

#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  color: #2e2e2e;
  border: 1px solid #b3b3b3;
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 20px;
}

.switcher-list > StBoxLayout {
  padding: 4px;
}

.switcher-list-item-container {
  spacing: 8px;
}

.switcher-list .item-box {
  padding: 8px;
  border-radius: 2px;
}

.switcher-list .item-box:outlined {
  padding: 8px;
  border: 1px solid #3689e6;
}

.switcher-list .item-box:selected {
  color: #ffffff;
  background-color: #3689e6;
  border: 0px solid #3689e6;
}

.switcher-list .thumbnail {
  width: 256px;
}

.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}

.switcher-list .separator {
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: #2e2e2e;
}

.switcher-arrow:highlighted {
  border-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.thumbnail-scroll-gradient-left {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px;
}

.thumbnail-scroll-gradient-right {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 60px;
}

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("assets/corner-ripple.svg");
  background-size: contain;
}

.ripple-box:rtl {
  background-image: url("assets/corner-ripple.svg");
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.4);
}

.flashspot {
  background-color: white;
}

.modal-dialog {
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  padding: 0;
  border-image: url("assets/mpb-background.svg") 9;
}

.modal-dialog > StBoxLayout:first-child {
  padding: 10px;
}

.modal-dialog-button-box {
  spacing: 16px;
  margin: 0px;
  padding: 16px;
  border: none;
  background-color: transparent;
}

.modal-dialog-button-box .modal-dialog-button {
  padding-top: 0;
  padding-bottom: 0;
  height: 30px;
}

.run-dialog {
  padding: 10px 15px 10px 15px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  background-color: #f3f3f3;
}

.run-dialog > * {
  padding: 0;
}

.run-dialog-label {
  font-size: 0;
  font-weight: bold;
  color: #2e2e2e;
  padding-bottom: 0;
}

.run-dialog-error-label {
  color: #c6262e;
}

.run-dialog-error-box {
  padding-top: 15px;
  spacing: 5px;
}

.run-dialog-completion-box {
  padding-top: 5px;
  padding-left: 15px;
  font-size: 10px;
}

.run-dialog-entry {
  width: 21em;
  padding: 7px;
  border-radius: 3px;
  caret-color: #2e2e2e;
  selected-color: #ffffff;
  selection-background-color: #3689e6;
}

.run-dialog .modal-dialog-button-box {
  border: none;
  box-shadow: none;
  background: none;
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
  icon-size: 48px;
}

.mount-password-reask {
  color: #f9c440;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px;
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}

.show-processes-dialog-app-list-item {
  color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
  color: white;
}

.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
  font-size: 1.1em;
}

.magnifier-zoom-region {
  border: 2px solid maroon;
}

.magnifier-zoom-region .full-screen {
  border-width: 0px;
}

#keyboard {
  background-color: rgba(255, 255, 255, 0.75);
  border-width: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  font-size: 14pt;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: none;
  border-image: url("assets/buttons/button-default.svg") 4;
  padding: 4px;
}

.keyboard-key:hover {
  border-image: url("assets/buttons/button-default-hover.svg") 4;
}

.keyboard-key:active {
  border-image: url("assets/buttons/button-default-active.svg") 4;
}

.keyboard-key:insensitive {
  border-image: url("assets/buttons/button-default-disabled.svg") 4;
}

.keyboard-subkeys {
  color: #2e2e2e;
  padding: 0;
  margin: 8px 5px 8px;
  border-image: url("assets/mpb-background.svg") 9;
  -arrow-border-radius: 2px;
  -arrow-background-color: transparent;
  -arrow-border-width: 1px;
  -arrow-border-color: transparent;
  -arrow-base: 21px;
  -arrow-rise: 9px;
  -boxpointer-gap: 2px;
}

.menu-favorites-box {
  padding: 3px;
  transition-duration: 300;
  background-color: #f8f8f8;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
}

.menu-favorites-box:ltr {
  margin-left: 10px;
}

.menu-favorites-box:rtl {
  margin-right: 10px;
}

.menu-favorites-button {
  padding: 0;
  border: 0;
  border-radius: 3px;
}

.menu-favorites-button:hover {
  background-color: #3689e6;
}

.menu-places-box {
  padding: 10px;
  border: 0px solid red;
}

.menu-places-button {
  padding: 6px;
}

.menu-categories-box {
  padding: 10px 10px 0 10px;
}

.menu-applications-inner-box {
  padding: 10px 10px 0 10px;
}

.menu-applications-outer-box:ltr {
  padding: 10px 20px 0 10px;
}

.menu-applications-outer-box:rtl {
  padding: 10px 10px 0 20px;
}

.menu-application-button {
  padding: 6px;
  border: 0;
  border-radius: 3px;
}

.menu-application-button:highlighted {
  font-weight: bold;
}

.menu-application-button-selected {
  padding: 6px;
  color: #2e2e2e;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 3px;
}

.menu-application-button-selected:highlighted {
  font-weight: bold;
}

.menu-application-button-label:ltr {
  padding-left: 4px;
}

.menu-application-button-label:rtl {
  padding-right: 4px;
}

.menu-category-button {
  padding: 6px;
  border: 0;
}

.menu-category-button-selected {
  padding: 6px;
  color: #2e2e2e;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 3px;
}

.menu-category-button-hover {
  background-color: red;
  border-radius: 2px;
}

.menu-category-button-greyed {
  padding: 6px;
  color: #919191;
  border: 0;
}

.menu-category-button-label:ltr {
  padding-left: 4px;
  padding-right: 12px;
}

.menu-category-button-label:rtl {
  padding-left: 12px;
  padding-right: 4px;
}

.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
}

.menu-selected-app-box:rtl {
  padding-top: 10px;
  height: 30px;
}

.menu-selected-app-title {
  font-weight: bold;
}

.menu-selected-app-description {
  max-width: 150px;
}

.menu-search-box:ltr {
  padding: 0 0 10px 10px;
}

.menu-search-box-rtl {
  padding: 0 10px 10px 0;
}

#menu-search-entry {
  width: 200px;
  height: 16px;
  font-weight: normal;
  caret-color: #2e2e2e;
}

.menu-search-entry-icon {
  icon-size: 16px;
  color: #2e2e2e;
}

/* Context menu (at the moment only for favorites) */
.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: #2e2e2e;
  border: 0;
  border-radius: 5px;
  background-color: #f3f3f3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
}

.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 20px;
  color: #2e2e2e;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
}

.osd-window .osd-monitor-label {
  font-size: 3em;
}

.osd-window .level {
  padding: 0;
  height: 0.7em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.osd-window .level-bar {
  border-radius: 2px;
  background-color: #3689e6;
}

.window-list-box {
  spacing: 6px;
  padding-left: 10px;
  padding-top: 1px;
}

.window-list-box.vertical {
  spacing: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.window-list-box:highlight {
  background-color: rgba(198, 38, 46, 0.5);
}

.window-list-item-label {
  font-weight: bold;
  width: 15em;
  min-width: 5px;
}

.window-list-item-box {
  font-weight: bold;
  background-image: none;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  color: rgba(255, 255, 255, 0.6);
}

.window-list-item-box.top, .window-list-item-box.bottom {
  border-bottom-width: 2px;
}

.window-list-item-box.top StLabel, .window-list-item-box.bottom StLabel {
  padding-left: 2px;
}

.window-list-item-box.right {
  padding-left: 0px;
  padding-right: 0px;
  border-right-width: 2px;
}

.window-list-item-box.right StBin {
  padding-right: 0;
}

.window-list-item-box.left {
  padding-left: 0px;
  padding-right: 0px;
  border-left-width: 2px;
}

.window-list-item-box.left StBin {
  padding-left: 1px;
}

.window-list-item-box:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.window-list-item-box:active, .window-list-item-box:checked, .window-list-item-box:focus {
  color: #ffffff;
  border-color: #3689e6;
}

.window-list-item-box .progress {
  background-color: rgba(54, 137, 230, 0.8);
}

.window-list-item-demands-attention {
  background-gradient-direction: vertical;
  background-gradient-start: #d93b43;
  background-gradient-end: #d93b43;
}

.window-list-preview {
  spacing: 6px;
  color: #2e2e2e;
  border: 1px solid #b3b3b3;
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 6px 12px 12px 12px;
  font-size: 1em;
}

.sound-button {
  width: 22px;
  height: 13px;
  padding: 8px;
}

.sound-button-container {
  padding-right: 3px;
  padding-left: 3px;
}

.sound-button StIcon {
  icon-size: 1.4em;
}

.sound-track-infos {
  padding: 5px;
}

.sound-track-info {
  padding-top: 2px;
  padding-bottom: 2px;
}

.sound-track-info StIcon {
  icon-size: 16px;
}

.sound-track-info StLabel {
  padding-left: 5px;
  padding-right: 5px;
}

.sound-track-box {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 220px;
}

.sound-seek-box {
  padding-left: 15px;
}

.sound-seek-box StLabel {
  padding-top: 2px;
}

.sound-seek-box StIcon {
  icon-size: 16px;
}

.sound-seek-slider {
  width: 140px;
}

.sound-volume-menu-item {
  padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon {
  icon-size: 1.14em;
  padding-left: 8px;
  padding-right: 8px;
}

.sound-playback-control {
  padding: 5px 10px 10px 10px;
}

.sound-player > StBoxLayout:first-child {
  padding: 5px 10px 12px 10px;
  spacing: 0.5em;
}

.sound-player > StBoxLayout:first-child StButton:small {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
}

.sound-player > StBoxLayout:first-child StButton:small StIcon {
  icon-size: 12px;
}

.sound-player > StBoxLayout:first-child StButton:small:hover {
  color: #2e2e2e;
}

.sound-player > StBoxLayout:first-child StButton:small:active {
  color: #2e2e2e;
  background-color: #3689e6;
}

.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2);
}

.sound-player-overlay {
  width: 290px;
  height: 70px;
  padding: 15px;
  spacing: 0.5em;
  background: rgba(243, 243, 243, 0.9);
  border-top: 1px solid #b3b3b3;
  color: #2e2e2e;
}

.sound-player-overlay StButton {
  width: 20px;
  height: 16px;
  padding: 5px;
  color: rgba(46, 46, 46, 0.8);
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: transparent;
}

.sound-player-overlay StButton StIcon {
  icon-size: 16px;
}

.sound-player-overlay StButton:hover {
  color: #2e2e2e;
}

.sound-player-overlay StButton:active {
  color: #2e2e2e;
  background-color: #3689e6;
}

.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}

.sound-player-overlay > StBoxLayout {
  spacing: 5px;
}

.sound-player .slider {
  height: 0.5em;
  padding: 0;
  border: none;
  -slider-height: 0.5em;
  -slider-background-color: #b3b3b3;
  -slider-border-color: rgba(0, 0, 0, 0);
  -slider-active-background-color: #3689e6;
  -slider-active-border-color: rgba(0, 0, 0, 0);
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
}

#workspaceSwitcher {
  spacing: 0px;
  padding: 3px;
}

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px;
}

.panel-left .workspace-switcher,
.panel-right .workspace-switcher {
  padding: 0;
}

.workspace-button {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 14px;
  color: rgba(255, 255, 255, 0.45);
  padding: 3px;
  padding-top: 4px;
  transition-duration: 200;
}

.workspace-button.vertical {
  height: 14px;
  width: 24px;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.workspace-button:outlined {
  background-color: #3689e6;
  color: #ffffff;
}

.workspace-button:outlined:hover {
  background-color: rgba(54, 137, 230, 0.7);
  color: #ffffff;
}

.workspace-button:hover {
  background-color: rgba(46, 46, 46, 0.2);
  color: #ffffff;
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
  padding: 3px;
  spacing: 6px;
}

.workspace-graph .workspace {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
}

.workspace-graph .workspace:active {
  border: 1px solid #3689e6;
}

.workspace-graph .workspace .windows {
  -active-window-background: white;
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: white;
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: white;
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: white;
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

.panel-launchers {
  padding-left: 7px;
  spacing: 2px;
}

.panel-launchers .launcher {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  transition-duration: 200;
}

.panel-launchers .launcher:hover {
  background-color: #3689e6;
}

.panel-launchers.vertical {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
  spacing: 1px;
}

.panel-launchers.vertical .launcher {
  padding-top: 2px;
  padding-bottom: 2px;
}

#overview-corner {
  background-image: url("assets/overview.png");
}

#overview-corner:hover {
  background-image: url("assets/overview-hover.png");
}

.applet-separator {
  padding: 8px 4px;
}

.applet-separator-line {
  width: 1px;
  background: rgba(0, 0, 0, 0.4);
}

.applet-separator-line-vertical {
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
}

.applet-box {
  color: #2e2e2e;
  text-shadow: none;
  transition-duration: 100;
}

.applet-box StLabel {
  padding-top: 0;
}

.applet-box:highlight {
  background-image: none;
  border-image: none;
  background-color: rgba(198, 38, 46, 0.5);
}

.panel-top .applet-box {
  padding: 0 8px;
  spacing: 8px;
}

.panel-top .applet-box:hover {
  background-color: rgba(0, 0, 0, 0.01);
  color: #151515;
  box-shadow: inset 0 2px 0 rgba(46, 46, 46, 0.5);
}

.panel-top .applet-box:checked {
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 2px 0 #2e2e2e;
}

.panel-bottom .applet-box {
  padding: 0 8px;
  spacing: 8px;
}

.panel-bottom .applet-box:hover {
  background-color: rgba(0, 0, 0, 0.01);
  color: #151515;
  box-shadow: inset 0 -2px 0 rgba(46, 46, 46, 0.5);
}

.panel-bottom .applet-box:checked {
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 -2px 0 #2e2e2e;
}

.panel-left .applet-box {
  padding: 8px 0;
  spacing: 8px;
}

.panel-left .applet-box:hover {
  background-color: rgba(0, 0, 0, 0.01);
  color: #151515;
  box-shadow: inset 2px 0 0 rgba(46, 46, 46, 0.5);
}

.panel-left .applet-box:checked {
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 2px 0 0 #2e2e2e;
}

.panel-right .applet-box {
  padding: 8px 0;
  spacing: 8px;
}

.panel-right .applet-box:hover {
  background-color: rgba(0, 0, 0, 0.01);
  color: #151515;
  box-shadow: inset -2px 0 0 rgba(46, 46, 46, 0.5);
}

.panel-right .applet-box:checked {
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset -2px 0 0 #2e2e2e;
}

.applet-label {
  font-weight: bold;
  color: #2e2e2e;
}

.applet-label:hover, .applet-label:checked,
.applet-box:hover > .applet-label,
.applet-box:checked > .applet-label {
  color: #151515;
  text-shadow: none;
}

.applet-icon {
  color: #2e2e2e;
  icon-size: 16px;
}

.applet-icon:hover, .applet-icon:checked,
.applet-box:hover > .applet-icon,
.applet-box:checked > .applet-icon {
  color: #151515;
  text-shadow: none;
}

.user-icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  border-radius: 99.99px;
}

.user-label {
  color: #2e2e2e;
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.desklet {
  color: #2e2e2e;
}

.desklet:highlight {
  background-color: rgba(198, 38, 46, 0.5);
}

.desklet-with-borders {
  border-radius: 5px;
  background-color: transparent;
  color: #2e2e2e;
  padding: 12px;
  padding-bottom: 16px;
  border-image: url("assets/mpb-background.svg") 9;
}

.desklet-with-borders:highlight {
  background-color: rgba(198, 38, 46, 0.5);
}

.desklet-with-borders-and-header {
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
  background-color: transparent;
  color: #2e2e2e;
  border-radius: 0;
  border-radius-topleft: 0;
  border-radius-topright: 0;
  padding: 12px;
  padding-bottom: 17px;
  border-image: url("assets/mpb-background.svg") 9;
}

.desklet-with-borders-and-header:highlight {
  background-color: rgba(198, 38, 46, 0.5);
}

.desklet-header {
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: #2e2e2e;
  font-size: 1em;
  padding: 12px;
  padding-bottom: 10px;
  border-image: url("assets/mpb-background.svg") 9;
}

.desklet-drag-placeholder {
  border: 2px solid #3689e6;
  background-color: rgba(54, 137, 230, 0.3);
}

.photoframe-box {
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #2e2e2e;
  padding: 12px;
  padding-bottom: 16px;
  border-image: url("assets/mpb-background.svg") 9;
}

/*FIXME*/
.workspace-osd {
  /*color: red;*/
  color: #eeeeec;
  text-shadow: black 5px 5px 5px;
  font-weight: bold;
  font-size: 48pt;
}

.notification-applet-padding {
  padding: .5em 1em;
}

.notification-applet-container {
  max-height: 100px;
}

.tile-preview {
  background-color: rgba(54, 137, 230, 0.3);
  border: 1px solid #3689e6;
}

.tile-preview.snap {
  background-color: rgba(54, 137, 230, 0.6);
}

.tile-hud {
  background-color: rgba(54, 137, 230, 0.3);
  border: 1px solid #3689e6;
}

.tile-hud.snap {
  background-color: rgba(54, 137, 230, 0.6);
}

.tile-hud:top {
  border-top-width: 0px;
}

.tile-hud:bottom {
  border-bottom-width: 0px;
}

.tile-hud:left {
  border-left-width: 0px;
}

.tile-hud:right {
  border-right-width: 0px;
}

.tile-hud:top-left {
  border-top-width: 0px;
  border-left-width: 0px;
}

.tile-hud:top-right {
  border-top-width: 0px;
  border-right-width: 0px;
}

.tile-hud:bottom-left {
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.tile-hud:bottom-right {
  border-bottom-width: 0px;
  border-right-width: 0px;
}

.xkcd-box {
  padding: 6px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

.grouped-window-list-item-label {
  font-weight: bold;
}

.grouped-window-list-item-box {
  font-weight: bold;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  background-image: none;
}

.grouped-window-list-item-box.top, .grouped-window-list-item-box.bottom {
  border-bottom-width: 2px;
  padding-top: 2px;
}

.grouped-window-list-item-box.left, .grouped-window-list-item-box.right {
  padding-top: 8px;
  padding-bottom: 8px;
}

.grouped-window-list-item-box.left {
  border-left-width: 2px;
  padding-left: 0;
  padding-right: 2px;
}

.grouped-window-list-item-box.right {
  border-right-width: 2px;
  padding-left: 2px;
  padding-right: 0;
}

.grouped-window-list-item-box:hover, .grouped-window-list-item-box:focus {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(46, 46, 46, 0.75);
}

.grouped-window-list-item-box:active, .grouped-window-list-item-box:checked {
  border-color: #2e2e2e;
}

.grouped-window-list-item-box .progress {
  background-color: rgba(104, 183, 35, 0.5);
}

.grouped-window-list-number-label {
  color: #2e2e2e;
}

.grouped-window-list-badge {
  border-radius: 99.99px;
  background-color: rgba(255, 255, 255, 0.7);
}

.grouped-window-list-thumbnail-label {
  padding-left: 24px;
}

.grouped-window-list-thumbnail-alert {
  background-color: rgba(249, 196, 64, 0.15);
}

.grouped-window-list-thumbnail-menu {
  color: #2e2e2e;
  border: 0;
  background-color: transparent;
}

.grouped-window-list-thumbnail-menu .item-box {
  padding: 10px;
  border-radius: 3px;
  margin: 8px;
}

.grouped-window-list-thumbnail-menu .item-box:outlined {
  border: 0;
}

.grouped-window-list-thumbnail-menu .item-box:selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.grouped-window-list-thumbnail-menu .thumbnail {
  width: 256px;
}
