* {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkScrollbar-has-secondary-backward-stepper: false;
  -GtkScrollbar-has-secondary-forward-stepper: false;
  -GtkScrolledwindow-scrollbar-spacing: 0;
  -GtkScrolledwindow-scrollbars-within-bevel: 1;
  -GtkTextView-error-underline-color: #CC0000;
  -GtkToolbutton-icon-spacing: 6;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 20;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  -GtkTreeview-expander-size: 8;
  background-clip: padding-box;
  outline-width: 1px;
  outline-offset: -3px;
  outline-style: dashed;
  outline-color: #000000;
  -gtk-outline-radius: 0; }

.background {
  color: #000000;
  background-color: alpha(#A9A9A9, 0.999); }
  .background:backdrop {
    color: #000000;
    background-color: #A9A9A9; }

*:disabled {
  -gtk-icon-effect: dim; }
*:hover {
  -gtk-icon-effect: highlight; }

.gtkstyle-fallback {
  color: #000000;
  background-color: #A9A9A9; }
  .gtkstyle-fallback:hover {
    color: #000000;
    background-color: shade(#A9A9A9, 1.1); }
  .gtkstyle-fallback:active {
    color: #000000;
    background-color: shade(#A9A9A9, 0.9); }
  .gtkstyle-fallback:disabled {
    color: #8C8C8C;
    background-color: #A9A9A9; }
  .gtkstyle-fallback:selected {
    color: #A9A9A9;
    background-color: #0000A9; }

image, image:disabled, label, label:disabled, box, box:disabled {
  background-color: transparent; }

label selection {
  background-color: #0000A9;
  color: #A9A9A9; }
label.dim-label, label.separator, popover label.separator, popover.background label.separator, label:disabled {
  opacity: 0.55; }

button {
  transition: border 100ms ease-in-out; }

entry {
  transition: border 100ms ease-out; }
  entry:focus {
    transition: border 100ms ease-in; }

notebook tab label, notebook .prelight-page, notebook .prelight-page label, notebook .active-page, notebook .active-page label {
  transition: all 200ms ease-in; }

scale, progressbar {
  transition: 200ms ease-out; }
  scale:backdrop, progressbar:backdrop {
    transition: 200ms ease-out; }

scale slider, switch slider {
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: background, border, box-shadow; }
  scale slider:backdrop, switch slider:backdrop {
    transition: 200ms ease-out; }
scale:backdrop slider, switch:backdrop slider {
  transition: 200ms ease-out; }

scrollbar {
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  scrollbar:backdrop {
    transition: 200ms ease-out; }
  scrollbar slider {
    transition: 200ms ease-out; }

decoration {
  transition: 200ms ease-out; }
  decoration:backdrop {
    transition: 200ms ease-out; }

assistant .sidebar label.highlight {
  color: #A9A9A9;
  background-color: #0000A9; }
assistant .sidebar {
  padding: 4px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-radius: 0;
  border-right-color: #000000;
  color: #000000;
  background-color: #A9A9A9; }

button:link > label, button:visited > label,
*:link,
button:link,
button:visited {
  color: #1D8ECE; }
  button:link > label:visited, button:visited > label:visited,
  *:link:visited,
  button:visited {
    color: mix(#1D8ECE, #000000, 0.2); }
    *:selected button:link > label:visited, *:selected button:visited > label:visited, *:selected
    *:link:visited, *:selected
    button:visited:link, *:selected
    button:visited {
      color: mix(#A9A9A9, #0000A9, 0.4); }
  button:link > label:hover, button:visited > label:hover,
  *:link:hover,
  button:hover:link,
  button:hover:visited {
    color: shade(#1D8ECE, 1.1); }
    *:selected button:link > label:hover, *:selected button:visited > label:hover, *:selected
    *:link:hover, *:selected
    button:hover:link, *:selected
    button:hover:visited {
      color: mix(#A9A9A9, #0000A9, 0.9); }
  button:link > label:active, button:visited > label:active,
  *:link:active,
  button:active:link,
  button:active:visited {
    color: #1D8ECE; }
    *:selected button:link > label:active, *:selected button:visited > label:active, *:selected
    *:link:active, *:selected
    button:active:link, *:selected
    button:active:visited {
      color: mix(#A9A9A9, #0000A9, 0.8); }
  button:link > label:backdrop:backdrop:hover, button:visited > label:backdrop:backdrop:hover, button:link > label:backdrop:backdrop:hover:selected, button:visited > label:backdrop:backdrop:hover:selected, button:link > label:backdrop, button:visited > label:backdrop,
  *:link:backdrop:backdrop:hover,
  button:backdrop:backdrop:hover:link,
  button:backdrop:backdrop:hover:visited,
  *:link:backdrop:backdrop:hover:selected,
  button:backdrop:backdrop:hover:selected:link,
  button:backdrop:backdrop:hover:selected:visited,
  *:link:backdrop,
  button:backdrop:link,
  button:backdrop:visited {
    color: mix(#1D8ECE, #0000A9, 0.3); }
  button:link > label:selected, button:visited > label:selected, *:selected button:link > label, *:selected button:visited > label,
  *:link:selected,
  button:selected:link,
  button:selected:visited, *:selected
  *:link, *:selected
  button:link, *:selected
  button:visited {
    color: mix(#A9A9A9, #0000A9, 0.8); }

button:link, button:visited {
  border-color: transparent;
  background-color: transparent;
  text-shadow: none; }
  button:link:hover, button:link:active, button:link:checked, button:link:focus:active, button:visited:hover, button:visited:active, button:visited:checked, button:visited:focus:active {
    border-color: transparent;
    background-color: transparent;
    text-shadow: none; }
  button:link > label, button:visited > label {
    text-decoration-line: underline; }

button {
  padding: 4px 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  color: #000000;
  border-color: #000000;
  background-color: #A9A9A9;
  outline-offset: 1px;
  outline-width: 3px;
  outline-style: solid;
  -gtk-outline-radius: 3px; }
  button:active, button:checked {
    color: #A9A9A9;
    border-color: #000000;
    background-color: #0000A9; }
    button:active:backdrop, button:checked:backdrop {
      color: #A9A9A9; }
    button:active:disabled, button:checked:disabled {
      color: #8C8C8C;
      border-color: mix(#000000, #A9A9A9, 0.85);
      background-color: shade(#A9A9A9, 0.9); }
  button:disabled {
    color: #8C8C8C; }
  button.flat {
    border-color: transparent;
    border-radius: 0px;
    color: #000000;
    background-color: transparent; }
    button.flat:hover {
      border-color: #000000;
      color: #000000;
      background-color: #A9A9A9; }
    button.flat:active, button.flat:checked {
      color: #A9A9A9;
      border-color: #0000A9;
      background-color: #0000A9; }
    button.flat:disabled {
      border-color: transparent;
      color: #8C8C8C;
      background-color: transparent; }

checkbutton.text-button, radiobutton.text-button {
  padding: 4px;
  outline-offset: 0; }

checkbutton {
  padding: 4px; }
  checkbutton:hover, checkbutton:active:hover, checkbutton:selected, checkbutton:focus {
    padding: 4px;
    border-style: none;
    background-color: transparent; }

view.content-view check, .content-view.view check {
  background-color: transparent; }
  view.content-view check:hover, view.content-view check:active, view.content-view check:disabled, view.content-view check:selected, .content-view.view check:hover, .content-view.view check:active, .content-view.view check:disabled, .content-view.view check:selected {
    background-color: transparent; }

check, radio, check:disabled, radio:disabled {
  min-height: 24px;
  min-width: 24px;
  margin: 4px;
  border-style: none;
  background-color: transparent; }

check, .check {
  -gtk-icon-source: url("assets/checkbox-unchecked.png"); }
  check:disabled, .check:disabled {
    -gtk-icon-source: url("assets/checkbox-unchecked-disabled.png"); }
  check:checked, .check:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png"); }
    check:checked:disabled, .check:checked:disabled {
      -gtk-icon-source: url("assets/checkbox-checked-disabled.png"); }

radio, .radio {
  -gtk-icon-source: url("assets/radio-unchecked.png"); }
  radio:disabled, .radio:disabled {
    -gtk-icon-source: url("assets/radio-unchecked-disabled.png"); }
  radio:checked, .radio:checked {
    -gtk-icon-source: url("assets/radio-checked.png"); }
    radio:checked:disabled, .radio:checked:disabled {
      -gtk-icon-source: url("assets/radio-checked-disabled.png"); }

.content-view.view {
  background-color: #A9A9A9; }
  .content-view.view:hover {
    background-color: alpha(#0000A9, 0.6); }
  .content-view.view:selected, .content-view.view:active {
    background-color: #0000A9; }
  .content-view.view:disabled {
    background-color: shade(#A9A9A9, 0.9); }

calendar {
  padding: 2px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: #000000;
  color: #000000; }
  calendar.header {
    border: none;
    color: #0000A9; }
  calendar.button {
    color: #0000A9; }
  calendar:selected {
    border-radius: 0;
    color: #A9A9A9;
    background-color: #0000A9; }
  calendar:indeterminate {
    color: alpha(currentColor, 0.55); }
  calendar.highlight {
    color: #0000A9; }

entry {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  caret-color: currentColor;
  background-color: #A9A9A9; }
  entry:selected, entry:selected:focus, entry selection, entry selection:focus {
    color: #A9A9A9;
    background-color: #0000A9; }
  entry:disabled {
    color: #8C8C8C; }
    entry:disabled:backdrop {
      color: #8C8C8C;
      border-color: #000000;
      background-color: #A9A9A9; }
  entry.read-only {
    background-color: mix(#A9A9A9, #A9A9A9, 0.1); }
  entry:backdrop {
    color: #000000;
    background-color: #A9A9A9; }
  entry > image.left {
    padding-right: 5px; }
  entry > image.right {
    padding-left: 5px; }
  entry progress {
    margin: -4px -4px;
    border-width: 0 0 2px;
    border-radius: 0;
    border-style: solid;
    border-color: #0000A9;
    background-color: transparent; }
  entry.flat, entry.flat:focus {
    min-height: 0;
    padding: 3px;
    border-radius: 0;
    background-image: none;
    border-color: transparent; }
  entry.search {
    border-radius: 40px; }

expander arrow {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
  expander arrow:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
  expander arrow:hover {
    color: #0000A9; }
  expander arrow:checked {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

list {
  color: #000000;
  background-color: #A9A9A9; }
  list row {
    padding: 2px; }
    list row:backdrop {
      color: #000000; }
    list row:selected, list row:selected:hover, list row:selected:focus {
      border: none;
      color: #A9A9A9;
      background-color: #0000A9; }
    list row:selected:disabled {
      color: alpha(#A9A9A9, 0.7);
      background-color: alpha(#0000A9, 0.9); }
    list row:selected:backdrop {
      color: #A9A9A9;
      background-color: #0000A9; }

.frame, frame > border {
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 0;
  box-shadow: none;
  background: none; }

frame.flat > border, frame > border.flat, .frame.flat {
  border-style: none; }

iconview:selected, iconview:selected:focus, iconview text:selected, iconview text selection, iconview text:selected:focus, iconview text selection:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #0000A9;
  color: #A9A9A9;
  background-color: #0000A9; }
iconview:selected:backdrop, iconview selection:backdrop, iconview text:selected:backdrop, iconview text selection:backdrop {
  color: #A9A9A9;
  background-color: #0000A9; }

rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .rubberband, view rubberband, .view.rubberband, .rubberband {
  border-width: 1px;
  border-style: solid;
  border-color: #0000A9;
  background: none;
  background-color: alpha(#0000A9, 0.3); }

flowbox flowboxchild {
  padding: 3px;
  border-radius: 0px; }
  flowbox flowboxchild:selected {
    outline-offset: -2px;
    color: #A9A9A9;
    background-color: #0000A9; }

infobar {
  border: none; }

.info {
  border-width: 1px;
  border-style: solid;
  border-color: shade(#0055FF, 0.8);
  color: #FFFFFF;
  background-image: none;
  background-color: #0055FF; }
  .info button {
    border-color: shade(#0055FF, 0.8);
    color: #FFFFFF;
    background-image: none;
    background-color: shade(#0055FF, 1.08); }
    .info button:hover {
      border-color: shade(#0055FF, 0.85);
      background-color: shade(#0055FF, 1.1); }
    .info button:active {
      border-color: shade(#0055FF, 0.6);
      background-color: shade(#0055FF, 0.95); }
      .info button:active:hover {
        border-color: shade(#0055FF, 0.85); }
    .info button.close {
      color: #FFFFFF; }
      .info button.close:hover {
        background-color: alpha(white, 0.2); }
      .info button.close:active {
        color: #FFFFFF;
        background-color: alpha(black, 0.1); }

.warning {
  border-width: 1px;
  border-style: solid;
  border-color: shade(#FF8300, 0.8);
  color: #FFFFFF;
  background-image: none;
  background-color: #FF8300; }
  .warning button {
    border-color: shade(#FF8300, 0.8);
    color: #FFFFFF;
    background-image: none;
    background-color: shade(#FF8300, 1.08); }
    .warning button:hover {
      border-color: shade(#FF8300, 0.85);
      background-color: shade(#FF8300, 1.1); }
    .warning button:active {
      border-color: shade(#FF8300, 0.6);
      background-color: shade(#FF8300, 0.95); }
      .warning button:active:hover {
        border-color: shade(#FF8300, 0.85); }
    .warning button.close {
      color: #FFFFFF; }
      .warning button.close:hover {
        background-color: alpha(white, 0.2); }
      .warning button.close:active {
        color: #FFFFFF;
        background-color: alpha(black, 0.1); }

.question {
  border-width: 1px;
  border-style: solid;
  border-color: shade(#2C2C2C, 0.8);
  color: #FFFFFF;
  background-image: none;
  background-color: #2C2C2C; }
  .question button {
    border-color: shade(#2C2C2C, 0.8);
    color: #FFFFFF;
    background-image: none;
    background-color: shade(#2C2C2C, 1.08); }
    .question button:hover {
      border-color: shade(#2C2C2C, 0.85);
      background-color: shade(#2C2C2C, 1.1); }
    .question button:active {
      border-color: shade(#2C2C2C, 0.6);
      background-color: shade(#2C2C2C, 0.95); }
      .question button:active:hover {
        border-color: shade(#2C2C2C, 0.85); }
    .question button.close {
      color: #FFFFFF; }
      .question button.close:hover {
        background-color: alpha(white, 0.2); }
      .question button.close:active {
        color: #FFFFFF;
        background-color: alpha(black, 0.1); }

.error {
  border-width: 1px;
  border-style: solid;
  border-color: shade(#AA2647, 0.8);
  background-color: #AA2647;
  background-image: none;
  color: #FFFFFF; }
  .error button {
    border-color: shade(#AA2647, 0.8);
    color: #FFFFFF;
    background-image: none;
    background-color: shade(#AA2647, 1.08); }
    .error button:hover {
      border-color: shade(#AA2647, 0.85);
      background-color: shade(#AA2647, 1.1); }
    .error button:active {
      border-color: shade(#AA2647, 0.6);
      background-color: shade(#AA2647, 0.95); }
      .error button:active:hover {
        border-color: shade(#AA2647, 0.85); }
    .error button.close {
      color: #FFFFFF; }
      .error button.close:hover {
        background-color: alpha(white, 0.2); }
      .error button.close:active {
        color: #FFFFFF;
        background-color: alpha(black, 0.1); }

image {
  color: alpha(currentColor, 0.75); }
  image:hover {
    color: alpha(currentColor, 0.9); }
  image:selected, image:selected:hover {
    color: #A9A9A9; }
  image:disabled {
    color: alpha(currentColor, 0.5); }
  view image, view image:hover {
    color: alpha(currentColor, 0.9); }
  view image:selected, view image:selected:hover {
    color: #A9A9A9; }

.floating-bar {
  border-width: 1px;
  border-style: solid;
  border-color: shade(#A9A9A9, 0.85);
  border-radius: 0px;
  background-color: #A9A9A9;
  color: #000000; }
  .floating-bar.top {
    border-top-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; }
  .floating-bar.bottom {
    border-bottom-width: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }
  .floating-bar.top.left, .floating-bar.bottom.left {
    border-left-width: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; }
  .floating-bar.top.right, .floating-bar.bottom.right {
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .floating-bar button {
    border-style: none;
    background-color: transparent; }

.terminal-screen, terminal-window, vte-terminal {
  background-color: #A9A9A9;
  color: #000000; }

.dnd {
  border-width: 1px;
  border-style: solid;
  border-color: #000000; }

.nautilus-window notebook, .nautilus-window notebook > stack:not(:only-child) searchbar {
  background-color: #A9A9A9; }

.caja-location-entry {
  padding: 3px 5px; }

scrolledwindow viewport.frame {
  border: none; }

arrow, combobox arrow {
  color: alpha(currentColor, 0.75);
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px; }

.context-menu, popover.touch-selection, .csd popover.touch-selection,
popover.background.touch-selection, .csd popover.background.touch-selection {
  font: initial; }

.monospace {
  font-family: Monospace; }

.gedit-search-entry-occurrences-tag {
  color: alpha(currentColor, 0.7);
  border: none;
  margin: 2px;
  padding: 2px; }

.gedit-search-slider {
  border-color: #000000;
  padding: 6px;
  border-radius: 0 0 0px 0px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  background-color: #A9A9A9; }

button.circular, button.circular-button {
  padding: 0;
  min-width: 16px;
  min-height: 24px;
  padding: 2px 6px;
  border-radius: 50%;
  -gtk-outline-radius: 50%; }

stackswitcher button.circular, stackswitcher button.text-button.circular {
  min-width: 32px;
  min-height: 32px;
  padding: 0; }

printdialog paper {
  border: 1px solid #000000;
  background: white;
  padding: 0; }

filechooserbutton:drop(active) {
  box-shadow: none;
  border-color: transparent; }

:not(decoration):not(window):drop(active), :not(decoration):not(window):drop(active):focus, combobox:drop(active) button.combo {
  border-color: #0000A9;
  box-shadow: inset 0 0 0 1px #0000A9;
  caret-color: #0000A9; }

menu, .menu {
  margin: 4px;
  padding: 0;
  border-radius: 0px;
  border-style: none;
  color: #000000;
  background-color: #A9A9A9; }
  .csd menu, .csd .menu {
    padding: 4px 0px;
    border-radius: 0px;
    border: none; }
  menu > arrow, .menu > arrow {
    padding: 4px;
    border-color: transparent;
    background-color: #A9A9A9;
    min-width: 16px;
    min-height: 16px; }
    menu > arrow.top, .menu > arrow.top {
      margin-top: -6px;
      border-bottom: 1px solid shade(#A9A9A9, 0.9);
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
    menu > arrow.bottom, .menu > arrow.bottom {
      margin-bottom: -6px;
      border-top: 1px solid shade(#A9A9A9, 0.9);
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

menubar, .menubar {
  -GtkWidget-window-dragging: true;
  padding: 0;
  border-style: none;
  background-color: #A9A9A9;
  color: #000000; }
  menubar:backdrop, .menubar:backdrop {
    color: #000000;
    background-color: #A9A9A9; }

menubar > menuitem, .menubar > menuitem {
  padding: 3px 5px;
  border: none;
  color: #000000;
  background-color: transparent; }
  menubar > menuitem:hover, .menubar > menuitem:hover {
    color: #A9A9A9;
    background-color: #0000A9; }
  menubar > menuitem:disabled, .menubar > menuitem:disabled {
    color: #8C8C8C;
    background-color: transparent; }
  menubar > menuitem:backdrop, .menubar > menuitem:backdrop {
    color: #000000;
    background-color: transparent; }

menu menuitem, .menu menuitem {
  min-height: 16px;
  min-width: 40px;
  padding: 4px;
  border: none;
  border-radius: 0;
  color: #000000;
  background-color: #A9A9A9; }
  menu menuitem:hover, .menu menuitem:hover {
    color: #A9A9A9;
    background-color: #0000A9; }
    menu menuitem:hover switch slider, menu menuitem:hover scale highlight, menu menuitem:hover scale slider, .menu menuitem:hover switch slider, .menu menuitem:hover scale highlight, .menu menuitem:hover scale slider {
      background-color: #A9A9A9; }
    menu menuitem:hover scale trough, menu menuitem:hover switch, .menu menuitem:hover scale trough, .menu menuitem:hover switch {
      background-color: alpha(#A9A9A9, 0.75); }
  menu menuitem:disabled, .menu menuitem:disabled {
    color: mix(#000000, #A9A9A9, 0.5); }
  menu menuitem arrow, .menu menuitem arrow {
    min-width: 16px;
    min-height: 16px; }
    menu menuitem arrow:dir(ltr), .menu menuitem arrow:dir(ltr) {
      margin-left: 10px;
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
    menu menuitem arrow:dir(rtl), .menu menuitem arrow:dir(rtl) {
      margin-right: 10px;
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

menuitem accelerator {
  color: alpha(currentColor, 0.55); }
  menuitem accelerator:hover {
    color: alpha(#A9A9A9, 0.8); }
  menuitem accelerator:disabled {
    color: #8C8C8C; }

popover, popover.background {
  padding: 2px;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  color: #000000;
  background-clip: border-box;
  background-color: #A9A9A9; }
  .csd popover, popover, .csd popover.background, popover.background {
    border: 1px solid #000000; }
  popover > list, popover > .view, popover > iconview, popover > toolbar, popover > .inline-toolbar, popover.background > list, popover.background > .view, popover.background > iconview, popover.background > toolbar, popover.background > .inline-toolbar {
    border-style: none;
    background-color: transparent; }
  popover checkbutton:selected, popover radiobutton:selected, popover.background checkbutton:selected, popover.background radiobutton:selected {
    color: #A9A9A9;
    background-color: #0000A9; }
popover.osd {
  box-shadow: none; }
  popover.osd > toolbar button {
    border-width: 0;
    border-radius: 0;
    background-color: transparent; }
popover:backdrop {
  border-color: #000000;
  color: #000000;
  background-color: #A9A9A9;
  box-shadow: none; }

modelbutton.flat, menuitem.button.flat, .menuitem.button.flat {
  padding: 2px 8px;
  border: none;
  color: #000000;
  background-color: transparent; }
  modelbutton.flat:hover, modelbutton.flat:selected, modelbutton.flat:active:hover, menuitem.button.flat:hover, menuitem.button.flat:selected, menuitem.button.flat:active:hover, .menuitem.button.flat:hover, .menuitem.button.flat:selected, .menuitem.button.flat:active:hover {
    color: #A9A9A9;
    background-color: #0000A9; }
  modelbutton.flat > image, menuitem.button.flat > image, .menuitem.button.flat > image {
    padding-right: 4px; }
  modelbutton.flat arrow.left, menuitem.button.flat arrow.left, .menuitem.button.flat arrow.left {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }
  modelbutton.flat arrow.right, menuitem.button.flat arrow.right, .menuitem.button.flat arrow.right {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }

notebook {
  padding: 0; }
  notebook.frame {
    margin: -1px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000; }
    notebook.frame > header {
      margin: -1px; }
      notebook.frame > header.top {
        margin-bottom: 0; }
      notebook.frame > header.bottom {
        margin-top: 0; }
      notebook.frame > header.left {
        margin-right: 0; }
      notebook.frame > header.right {
        margin-left: 0; }
      notebook.frame > header.top, notebook.frame > header.bottom {
        padding-left: 0;
        padding-right: 0; }
      notebook.frame > header.left, notebook.frame > header.right {
        padding-top: 0;
        padding-bottom: 0; }
  notebook > stack:not(:only-child) {
    background-color: #A9A9A9; }
  notebook tab {
    padding: 6px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: transparent;
    color: #000000;
    background-color: transparent; }
    notebook tab:checked {
      color: #A9A9A9;
      border-color: #000000;
      background-color: #0000A9; }
      notebook tab:checked:backdrop {
        border-color: #000000;
        background-color: #0000A9; }
    notebook tab:backdrop {
      background-color: transparent; }
    notebook tab:checked button.flat {
      color: #A9A9A9; }
      notebook tab:checked button.flat:hover {
        color: #000000; }
      notebook tab:checked button.flat:active {
        color: #A9A9A9; }
  notebook > header {
    background-color: #A9A9A9; }
    notebook > header:backdrop {
      background-color: #A9A9A9; }
    notebook > header.top {
      box-shadow: 0 1px #000000; }
      notebook > header.top > tabs > tab {
        border-bottom: none; }
        notebook > header.top > tabs > tab:checked {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px; }
    notebook > header.bottom {
      box-shadow: 0 -1px #000000; }
      notebook > header.bottom > tabs > tab {
        border-top: none; }
        notebook > header.bottom > tabs > tab:checked {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px; }
    notebook > header.right {
      box-shadow: -1px 0 #000000; }
      notebook > header.right > tabs > tab {
        border-left: none; }
        notebook > header.right > tabs > tab:checked {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px; }
    notebook > header.left {
      box-shadow: 1px 0 #000000; }
      notebook > header.left > tabs > tab {
        border-right: none; }
        notebook > header.left > tabs > tab:checked {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px; }
  notebook > header.top > tabs > arrow.up, notebook > header.bottom > tabs > arrow.up {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
    notebook > header.top > tabs > arrow.up:last-child, notebook > header.bottom > tabs > arrow.up:last-child {
      margin-left: 2px; }
  notebook > header.top > tabs > arrow.down, notebook > header.bottom > tabs > arrow.down {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }
    notebook > header.top > tabs > arrow.down:first-child, notebook > header.bottom > tabs > arrow.down:first-child {
      margin-right: 2px; }
  notebook > header.left > tabs > arrow.up, notebook > header.right > tabs > arrow.up {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
    notebook > header.left > tabs > arrow.up:last-child, notebook > header.right > tabs > arrow.up:last-child {
      margin-top: 2px; }
  notebook > header.left > tabs > arrow.down, notebook > header.right > tabs > arrow.down {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
    notebook > header.left > tabs > arrow.down:first-child, notebook > header.right > tabs > arrow.down:first-child {
      margin-bottom: 2px; }
  notebook > header > tabs > arrow {
    color: #000000; }
    notebook > header > tabs > arrow:hover {
      color: shade(#000000, 1.2); }
    notebook > header > tabs > arrow:active {
      color: shade(#000000, 0.8); }
    notebook > header > tabs > arrow:disabled {
      color: shade(#A9A9A9, 0.6); }

paned > separator {
  border: none;
  color: transparent;
  background-color: #000000; }
  paned > separator:backdrop {
    background-color: #000000; }
  paned > separator:selected {
    background-color: #000000; }
paned .sidebar.left, paned .sidebar.right, paned .sidebar.left:dir(rtl), paned .sidebar:dir(rtl), paned .sidebar:dir(ltr), paned .sidebar {
  border-style: none; }

overshoot.top {
  background-image: -gtk-gradient(radial, center top, 0.55, center top, 0.6, from(alpha(#0000A9, 0.2)), to(transparent));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  border: none;
  box-shadow: none; }
overshoot.bottom {
  background-image: -gtk-gradient(radial, center bottom, 0.55, center bottom, 0.6, from(alpha(#0000A9, 0.2)), to(transparent));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  border: none;
  box-shadow: none; }
overshoot.left {
  background-image: -gtk-gradient(radial, left center, 0.55, left center, 0.6, from(alpha(#0000A9, 0.2)), to(transparent));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  border: none;
  box-shadow: none; }
overshoot.right {
  background-image: -gtk-gradient(radial, right center, 0.55, right center, 0.6, from(alpha(#0000A9, 0.2)), to(transparent));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  border: none;
  box-shadow: none; }

undershoot.top {
  background-color: transparent;
  background-image: linear-gradient(to left, alpha(white, 0.2) 50%, alpha(black, 0.2) 50%);
  padding-top: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center top; }
undershoot.bottom {
  background-color: transparent;
  background-image: linear-gradient(to left, alpha(white, 0.2) 50%, alpha(black, 0.2) 50%);
  padding-bottom: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center bottom; }
undershoot.left {
  background-color: transparent;
  background-image: linear-gradient(to top, alpha(white, 0.2) 50%, alpha(black, 0.2) 50%);
  padding-left: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: left center; }
undershoot.right {
  background-color: transparent;
  background-image: linear-gradient(to top, alpha(white, 0.2) 50%, alpha(black, 0.2) 50%);
  padding-right: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: right center; }

.overlay-bar {
  background-color: alpha(black, 0.8);
  border-radius: 0;
  padding: 3px 6px;
  margin: 3px; }
  .overlay-bar label {
    color: #000000; }

progressbar {
  padding: 0;
  border: none;
  color: #8C8C8C;
  background-color: transparent; }
  progressbar progress {
    border: none;
    border-radius: 0px;
    background-color: #aa0000; }
    progressbar progress:backdrop {
      background-color: #aa0000; }
  progressbar trough {
    border-radius: 0px;
    border: 1px solid #000000;
    background-color: #A9A9A9; }
  progressbar.horizontal trough, progressbar.horizontal progress {
    min-height: 11px; }
  progressbar.vertical trough, progressbar.vertical progress {
    min-width: 11px; }

treeview.view.progressbar, treeview.view.progressbar:disabled {
  color: #A9A9A9;
  border-radius: 0;
  background-color: #0000A9; }
treeview.view.progressbar:focus, treeview.view.progressbar:selected:focus, treeview.view.progressbar:focus:selected, treeview.view.progressbar:focus:selected:focus, treeview.view.progressbar:disabled:selected {
  border-radius: 0;
  color: #0000A9;
  background-color: #A9A9A9; }
treeview.view.trough {
  color: #000000;
  background-color: alpha(black, 0.1);
  border-radius: 0;
  border: none; }
  treeview.view.trough:selected, treeview.view.trough:selected:focus {
    color: #A9A9A9;
    background-color: alpha(black, 0.1);
    border-radius: 0;
    border: none; }
infobar treeview.view trough, row:selected treeview.view trough {
  background-color: alpha(black, 0.1); }

levelbar trough {
  padding: 1px;
  border-radius: 0; }
levelbar.horizontal.discrete block {
  margin: 0 1px; }
levelbar.vertical.discrete block {
  margin: 1px 0; }
levelbar block {
  border: none;
  padding: 2px;
  border-radius: 0px;
  background-color: #0000A9; }
  levelbar block.high {
    background-color: shade(#00AAAA, 0.9); }
  levelbar block.low {
    background-color: shade(#FF9900, 0.9); }
  levelbar block.empty {
    background-color: alpha(black, 0.1); }

scale {
  min-height: 10px;
  min-width: 10px;
  padding: 12px; }
  scale fill, scale trough {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #A9A9A9;
    background-image: linear-gradient(to bottom left, #A9A9A9 33%, #000000 34%, #000000 66%, #A9A9A9 67%);
    box-shadow: inset 0 0 0 2px #000000, inset 0 0 0 1px #A9A9A9;
    background-size: 3px 3px, auto;
    outline-offset: 2px;
    -gtk-outline-radius: 7px; }
  scale.horizontal indicator {
    min-height: 6px;
    min-width: 1px; }
  scale.horizontal.fine-tune indicator {
    min-height: 3px; }
  scale.vertical indicator {
    min-height: 1px;
    min-width: 6px; }
  scale.vertical.fine-tune indicator {
    min-width: 3px; }
  scale.fine-tune.horizontal {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 14px; }
  scale.fine-tune.vertical {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 14px; }
  scale.fine-tune slider {
    margin: -6px; }
  scale.fine-tune fill, scale.fine-tune trough, scale.fine-tune highlight {
    border-radius: 4px;
    -gtk-outline-radius: 0; }
  scale.fine-tune marks.top {
    margin-bottom: 8px;
    margin-top: -13px; }
  scale.fine-tune marks.bottom {
    margin-top: 8px;
    margin-bottom: -13px; }
  scale.fine-tune marks.top {
    margin-right: 8px;
    margin-left: -13px; }
  scale.fine-tune marks.bottom {
    margin-left: 8px;
    margin-right: -13px; }
  scale slider {
    min-height: 23px;
    min-width: 11px;
    margin: -5px;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #000000;
    background-color: #A9A9A9;
    background-image: linear-gradient(to right, transparent 14%, #000000 15%, #000000 25%, transparent 26%, transparent 69%, #000000 70%, #000000 80%, transparent 81%, transparent); }
    scale slider:disabled {
      background-color: #A9A9A9;
      -gtk-icon-shadow: none; }
  scale.vertical slider {
    min-height: 11px;
    min-width: 23px;
    background-image: linear-gradient(to bottom, transparent 14%, #000000 15%, #000000 25%, transparent 26%, transparent 69%, #000000 70%, #000000 80%, transparent 81%, transparent); }
  scale value {
    color: alpha(currentColor, 0.55); }
  scale marks {
    color: alpha(currentColor, 0.55); }
    scale marks.top {
      margin-bottom: 6px;
      margin-top: -12px; }
    scale marks.bottom {
      margin-top: 6px;
      margin-bottom: -12px; }
    scale marks.top {
      margin-right: 6px;
      margin-left: -12px; }
    scale marks.bottom {
      margin-left: 6px;
      margin-right: -12px; }

scrollbar {
  border: none;
  box-shadow: inset 0 0 0 1px #000000;
  background-color: #A9A9A9; }
  scrollbar trough {
    border: none;
    border-radius: 0; }
  scrollbar slider {
    min-width: 14px;
    min-height: 14px;
    margin: 1;
    border: 2px solid #0011B7; /* original size is 1px */
    border-radius: 0px;
    background-color: #A9A9A9; }
    scrollbar slider:hover:active {
      background-color: #0000A9; }
    scrollbar slider:disabled {
      background-color: #A9A9A9; }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    opacity: 1; }
  scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering {
    opacity: 1; }
  scrollbar button {
    padding: 0;
    border-radius: 0; }
    scrollbar button, scrollbar button:backdrop, scrollbar button:active, scrollbar button:active:backdrop, scrollbar button:disabled, scrollbar button:disabled:backdrop {
      color: transparent; }
  scrollbar.horizontal slider {
    min-width: 40px;
    margin-left: -1px;
    margin-right: -1px; }
  scrollbar.horizontal button {
    min-height: 14px;
    min-width: 14px; }
    scrollbar.horizontal button.down {
      background-image: url("assets/arrow-right.png"); }
      scrollbar.horizontal button.down:active {
        background-image: url("assets/arrow-right-active.png"); }
    scrollbar.horizontal button.up {
      background-image: url("assets/arrow-left.png"); }
      scrollbar.horizontal button.up:active {
        background-image: url("assets/arrow-left-active.png"); }
  scrollbar.vertical slider {
    min-height: 40px;
    margin-top: -1px;
    margin-bottom: -1px; }
  scrollbar.vertical button {
    min-height: 14px;
    min-width: 14px; }
    scrollbar.vertical button.down {
      background-image: url("assets/arrow-down.png"); }
      scrollbar.vertical button.down:active {
        background-image: url("assets/arrow-down-active.png"); }
    scrollbar.vertical button.up {
      background-image: url("assets/arrow-up.png"); }
      scrollbar.vertical button.up:active {
        background-image: url("assets/arrow-up-active.png"); }
  treeview ~ scrollbar.vertical {
    border-top: 1px solid #000000;
    margin-top: -1px; }

separator {
  -gtk-icon-source: none;
  min-width: 1px;
  min-height: 1px;
  border-color: #000000;
  background-color: #000000; }
  separator:backdrop {
    border-color: #000000;
    background-color: #000000; }
  button separator {
    margin: 4px 1px; }
  headerbar separator {
    -GtkWidget-window-dragging: true;
    margin-top: 4px;
    margin-bottom: 4px; }
  .titlebar separator, .titlebar:not(headerbar) > separator, .titlebar separator.titlebutton, .titlebar:not(headerbar) > separator.titlebutton {
    -GtkWidget-window-dragging: true; }
  menuitem separator {
    border-width: 1px;
    border-style: none;
    color: #A9A9A9; }
  popover separator {
    border: 0;
    color: #A9A9A9;
    background-color: transparent; }
  combobox separator {
    border: none; }

spinbutton:not(.vertical) selection, spinbutton:not(.vertical) selection:focus {
  color: #A9A9A9;
  background-color: #0000A9; }
spinbutton button:disabled, spinbutton entry:disabled {
  color: #8C8C8C; }
  spinbutton button:disabled:backdrop, spinbutton entry:disabled:backdrop {
    color: #8C8C8C; }
spinbutton.horizontal entry {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 7px 15px; }
spinbutton.horizontal button.down {
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 0; }
spinbutton.horizontal button.up {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
spinbutton.vertical entry {
  border-radius: 0; }
spinbutton.vertical button.up {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0; }
spinbutton.vertical button.down {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }
spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
  spinner:checked {
    opacity: 1;
    animation: spin 1s linear infinite; }
    spinner:checked:disabled {
      opacity: 0.5; }

statusbar {
  padding: 4px;
  color: #000000; }
  statusbar frame > border {
    border: none; }

switch {
  font-size: 0;
  color: transparent;
  outline-offset: -4px;
  margin: 4px;
  border: 1px solid #000000;
  border-radius: 0;
  background-color: #A9A9A9; }
  switch:checked {
    border-color: #000000;
    background-color: #0000A9; }
  switch:disabled {
    background-color: #A9A9A9; }
  switch:backdrop {
    border-color: #000000; }
  switch slider {
    min-width: 20px;
    min-height: 20px;
    margin: -1px;
    border: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    background-color: #A9A9A9; }
  switch:disabled slider {
    background-color: #A9A9A9; }
  switch:disabled:backdrop slider {
    background-color: #A9A9A9; }
  switch:backdrop slider {
    background-color: #A9A9A9; }

colorswatch.top {
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px; }
  colorswatch.top overlay {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
colorswatch.bottom {
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px; }
  colorswatch.bottom overlay {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
colorswatch.left, colorswatch:first-child:not(.top) {
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px; }
  colorswatch.left overlay, colorswatch:first-child:not(.top) overlay {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
colorswatch.right, colorswatch:last-child:not(.bottom) {
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px; }
  colorswatch.right overlay, colorswatch:last-child:not(.bottom) overlay {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
colorswatch.dark overlay {
  color: alpha(white, 0.7); }
  colorswatch.dark overlay:hover {
    border-color: alpha(black, 0.5); }
colorswatch.light overlay {
  color: alpha(white, 0.7); }
  colorswatch.light overlay:hover {
    border-color: alpha(black, 0.3); }
colorswatch overlay {
  border: 1px solid alpha(black, 0.15); }
  colorswatch overlay:hover {
    background-color: alpha(white, 0.2); }
colorswatch:disabled {
  opacity: 0.5; }
  colorswatch:disabled overlay {
    border-color: alpha(black, 0.6);
    box-shadow: none; }

button.color {
  padding: 0; }
  button.color colorswatch:first-child:last-child, button.color colorswatch:first-child:last-child overlay {
    margin: 4px;
    border-radius: 0; }

colorchooser .popover.osd {
  border-radius: 0; }
colorchooser #add-color-button {
  background-clip: padding-box;
  border-color: alpha(black, 0.1);
  background-color: shade(#A9A9A9, 0.95);
  color: #000000; }
  colorchooser #add-color-button:hover {
    border-color: alpha(black, 0.3);
    background-color: shade(#A9A9A9, 0.9);
    color: #000000; }

.path-bar button.text-button, .path-bar button.image-button, .path-bar button button {
  padding-left: 4px;
  padding-right: 4px; }
.path-bar button.text-button.image-button label, .path-bar button label {
  padding-left: 0;
  padding-right: 0; }
  .path-bar button.text-button.image-button label:last-child, .path-bar button label:last-child {
    padding-right: 8px; }
  .path-bar button.text-button.image-button label:first-child, .path-bar button label:first-child {
    padding-left: 8px; }
.path-bar button image {
  padding-left: 4px;
  padding-right: 4px; }
.path-bar button.slider-button {
  padding-left: 0;
  padding-right: 0; }

headerbar, headerbar:not(.titlebar) {
  padding: 4px 8px;
  border-width: 0;
  border-style: solid;
  border-color: mix(#000000, #A9A9A9, 0.5);
  border-bottom-width: 1px;
  box-shadow: 0 1px #000000;
  color: #000000;
  background-color: #A9A9A9; }
  headerbar:backdrop, headerbar:not(.titlebar):backdrop {
    border-color: #000000;
    color: #000000;
    background-color: #A9A9A9; }
  .titlebar headerbar, .titlebar headerbar:backdrop, .titlebar headerbar:not(.titlebar), .titlebar headerbar:not(.titlebar):backdrop {
    background-color: transparent; }
  .tiled headerbar, .tiled headerbar:backdrop, .maximized headerbar, .maximized headerbar:backdrop, .tiled headerbar:not(.titlebar), .tiled headerbar:not(.titlebar):backdrop, .maximized headerbar:not(.titlebar), .maximized headerbar:not(.titlebar):backdrop {
    border-radius: 0; }
  headerbar .title, headerbar:not(.titlebar) .title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold; }
  headerbar .subtitle, headerbar:not(.titlebar) .subtitle {
    font-size: smaller;
    padding-left: 12px;
    padding-right: 12px;
    color: alpha(currentColor, 0.7); }
  headerbar button, headerbar:not(.titlebar) button {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    color: #000000;
    border-color: #000000;
    background-color: #A9A9A9;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
    -gtk-outline-radius: 3px; }
    headerbar button:active, headerbar button:checked, headerbar:not(.titlebar) button:active, headerbar:not(.titlebar) button:checked {
      color: #A9A9A9;
      border-color: #000000;
      background-color: #0000A9; }
      headerbar button:active:backdrop, headerbar button:checked:backdrop, headerbar:not(.titlebar) button:active:backdrop, headerbar:not(.titlebar) button:checked:backdrop {
        color: #A9A9A9; }
      headerbar button:active:disabled, headerbar button:checked:disabled, headerbar:not(.titlebar) button:active:disabled, headerbar:not(.titlebar) button:checked:disabled {
        color: #8C8C8C;
        border-color: mix(#000000, #A9A9A9, 0.85);
        background-color: shade(#A9A9A9, 0.9); }
    headerbar button:disabled, headerbar:not(.titlebar) button:disabled {
      color: #8C8C8C; }
  headerbar entry, headerbar:not(.titlebar) entry {
    padding: 4px 8px; }

toolbar {
  padding: 4px;
  border: none;
  color: #000000;
  background-color: #A9A9A9; }
  toolbar:backdrop {
    color: #000000;
    background-color: #A9A9A9; }
  toolbar:disabled {
    color: #8C8C8C;
    background-color: #A9A9A9; }
  toolbar button.flat {
    border-color: transparent;
    border-radius: 0px;
    color: #000000;
    background-color: transparent; }
    toolbar button.flat:hover {
      border-color: transparent;
      color: #000000;
      background-color: transparent; }
    toolbar button.flat:active, toolbar button.flat:checked {
      color: #A9A9A9;
      border-color: #0000A9;
      background-color: #0000A9; }
    toolbar button.flat:disabled {
      border-color: transparent;
      color: #8C8C8C;
      background-color: transparent; }
  toolbar menubar {
    -GtkToolbar-button-relief: normal; }

.primary-toolbar {
  -GtkWidget-window-dragging: true;
  padding: 4px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: mix(#000000, #A9A9A9, 0.5);
  color: #000000;
  background-color: #A9A9A9; }
  .primary-toolbar:backdrop {
    border-color: #A9A9A9;
    color: #000000;
    background-color: #A9A9A9; }
  .primary-toolbar button, .primary-toolbar .raised button {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    color: #000000;
    border-color: transparent;
    background-color: transparent;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
    -gtk-outline-radius: 3px; }
    .primary-toolbar button:active, .primary-toolbar button:checked, .primary-toolbar .raised button:active, .primary-toolbar .raised button:checked {
      color: #A9A9A9;
      border-color: transparent;
      background-color: #0000A9; }
      .primary-toolbar button:active:backdrop, .primary-toolbar button:checked:backdrop, .primary-toolbar .raised button:active:backdrop, .primary-toolbar .raised button:checked:backdrop {
        color: #A9A9A9; }
      .primary-toolbar button:active:disabled, .primary-toolbar button:checked:disabled, .primary-toolbar .raised button:active:disabled, .primary-toolbar .raised button:checked:disabled {
        color: #8C8C8C;
        border-color: mix(#000000, #A9A9A9, 0.85);
        background-color: shade(#A9A9A9, 0.9); }
    .primary-toolbar button:disabled, .primary-toolbar .raised button:disabled {
      color: #8C8C8C; }

.inline-toolbar toolbar {
  -GtkToolbar-button-relief: normal;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: mix(#000000, #A9A9A9, 0.5);
  border-radius: 0;
  background-color: #A9A9A9; }
  .inline-toolbar toolbar:last-child {
    border-width: 0 1px 1px 1px;
    border-radius: 0; }
  .inline-toolbar toolbar button {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    color: #000000;
    border-color: #000000;
    background-color: #A9A9A9;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
    -gtk-outline-radius: 3px; }
    .inline-toolbar toolbar button:active, .inline-toolbar toolbar button:checked {
      color: #A9A9A9;
      border-color: #000000;
      background-color: #0000A9; }
      .inline-toolbar toolbar button:active:backdrop, .inline-toolbar toolbar button:checked:backdrop {
        color: #A9A9A9; }
      .inline-toolbar toolbar button:active:disabled, .inline-toolbar toolbar button:checked:disabled {
        color: #8C8C8C;
        border-color: mix(#000000, #A9A9A9, 0.85);
        background-color: shade(#A9A9A9, 0.9); }
    .inline-toolbar toolbar button:disabled {
      color: #8C8C8C; }

.linked button, .linked .raised button, .inline-toolbar .linked button, .inline-toolbar .linked .raised button, .primary-toolbar .linked button, .primary-toolbar .linked .raised button, .osd .linked button, .osd .linked .raised button, .inline-toolbar .osd .linked button, .inline-toolbar .osd .linked .raised button, .primary-toolbar .osd .linked button, .primary-toolbar .osd .linked .raised button {
  border-radius: 0;
  border-left-width: 0; }
  .linked button:first-child, .linked .raised button:first-child, .inline-toolbar .linked button:first-child, .inline-toolbar .linked .raised button:first-child, .primary-toolbar .linked button:first-child, .primary-toolbar .linked .raised button:first-child, .osd .linked button:first-child, .osd .linked .raised button:first-child, .inline-toolbar .osd .linked button:first-child, .inline-toolbar .osd .linked .raised button:first-child, .primary-toolbar .osd .linked button:first-child, .primary-toolbar .osd .linked .raised button:first-child {
    border-left-width: 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .linked button:last-child, .linked .raised button:last-child, .inline-toolbar .linked button:last-child, .inline-toolbar .linked .raised button:last-child, .primary-toolbar .linked button:last-child, .primary-toolbar .linked .raised button:last-child, .osd .linked button:last-child, .osd .linked .raised button:last-child, .inline-toolbar .osd .linked button:last-child, .inline-toolbar .osd .linked .raised button:last-child, .primary-toolbar .osd .linked button:last-child, .primary-toolbar .osd .linked .raised button:last-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .linked button:only-child, .linked .raised button:only-child, .inline-toolbar .linked button:only-child, .inline-toolbar .linked .raised button:only-child, .primary-toolbar .linked button:only-child, .primary-toolbar .linked .raised button:only-child, .osd .linked button:only-child, .osd .linked .raised button:only-child, .inline-toolbar .osd .linked button:only-child, .inline-toolbar .osd .linked .raised button:only-child, .primary-toolbar .osd .linked button:only-child, .primary-toolbar .osd .linked .raised button:only-child {
    border-width: 1px;
    border-radius: 0px; }
.linked entry, .inline-toolbar .linked entry, .primary-toolbar .linked entry, .osd .linked entry, .inline-toolbar .osd .linked entry, .primary-toolbar .osd .linked entry {
  border-radius: 0;
  border-left-width: 0; }
  .linked entry:first-child, .inline-toolbar .linked entry:first-child, .primary-toolbar .linked entry:first-child, .osd .linked entry:first-child, .inline-toolbar .osd .linked entry:first-child, .primary-toolbar .osd .linked entry:first-child {
    border-left-width: 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .linked entry:last-child, .inline-toolbar .linked entry:last-child, .primary-toolbar .linked entry:last-child, .osd .linked entry:last-child, .inline-toolbar .osd .linked entry:last-child, .primary-toolbar .osd .linked entry:last-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .linked entry:only-child, .inline-toolbar .linked entry:only-child, .primary-toolbar .linked entry:only-child, .osd .linked entry:only-child, .inline-toolbar .osd .linked entry:only-child, .primary-toolbar .osd .linked entry:only-child {
    border-width: 1px;
    border-radius: 0px; }
.linked combobox box.linked button, .inline-toolbar .linked combobox box.linked button, .primary-toolbar .linked combobox box.linked button, .osd .linked combobox box.linked button, .inline-toolbar .osd .linked combobox box.linked button, .primary-toolbar .osd .linked combobox box.linked button {
  border-radius: 0;
  border-left-width: 0; }
.linked combobox:first-child box.linked button, .inline-toolbar .linked combobox:first-child box.linked button, .primary-toolbar .linked combobox:first-child box.linked button, .osd .linked combobox:first-child box.linked button, .inline-toolbar .osd .linked combobox:first-child box.linked button, .primary-toolbar .osd .linked combobox:first-child box.linked button {
  border-left-width: 1px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }
.linked combobox:last-child box.linked button, .inline-toolbar .linked combobox:last-child box.linked button, .primary-toolbar .linked combobox:last-child box.linked button, .osd .linked combobox:last-child box.linked button, .inline-toolbar .osd .linked combobox:last-child box.linked button, .primary-toolbar .osd .linked combobox:last-child box.linked button {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }
.linked combobox:only-child box.linked button, .inline-toolbar .linked combobox:only-child box.linked button, .primary-toolbar .linked combobox:only-child box.linked button, .osd .linked combobox:only-child box.linked button, .inline-toolbar .osd .linked combobox:only-child box.linked button, .primary-toolbar .osd .linked combobox:only-child box.linked button {
  border-width: 1px;
  border-radius: 0px; }

.vertical.linked button, .osd .vertical.linked button {
  border-left-width: 1px;
  border-top-width: 0;
  border-radius: 0; }
  .vertical.linked button:first-child, .osd .vertical.linked button:first-child {
    border-top-width: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .vertical.linked button:last-child, .osd .vertical.linked button:last-child {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  .vertical.linked button:only-child, .osd .vertical.linked button:only-child {
    border-top-width: 1px; }
.vertical.linked entry, .osd .vertical.linked entry {
  border-left-width: 1px;
  border-top-width: 0;
  border-radius: 0; }
  .vertical.linked entry:first-child, .osd .vertical.linked entry:first-child {
    border-top-width: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .vertical.linked entry:last-child, .osd .vertical.linked entry:last-child {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  .vertical.linked entry:only-child, .osd .vertical.linked entry:only-child {
    border-top-width: 1px; }
.vertical.linked combobox box.linked button, .osd .vertical.linked combobox box.linked button {
  border-left-width: 1px;
  border-top-width: 0;
  border-radius: 0; }
.vertical.linked combobox:first-child box.linked button, .osd .vertical.linked combobox:first-child box.linked button {
  border-top-width: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.vertical.linked combobox:last-child box.linked button, .osd .vertical.linked combobox:last-child box.linked button {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }
.vertical.linked combobox:only-child box.linked button, .osd .vertical.linked combobox:only-child box.linked button {
  border-top-width: 1px; }

stackswitcher button.text-button {
  min-width: 80px; }

tooltip {
  border-radius: 0px;
  box-shadow: none; }
  tooltip.background {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #A9A9A9; }
    tooltip.background label {
      padding: 1px; }
  tooltip * {
    background-color: transparent;
    color: #000000; }

textview {
  color: #000000;
  background-color: #A9A9A9; }
  textview text:selected, textview text selection, textview text:selected:focus, textview text selection:focus {
    color: #A9A9A9;
    background-color: #0000A9; }

treeview {
  -treeview-vertical-separator: 0; }
  treeview.view:selected, treeview.view:selected:focus {
    color: #A9A9A9;
    background-color: #0000A9; }
  treeview.view:drop(active) {
    border-style: solid none;
    border-width: 1px;
    border-color: #0000A9; }
    treeview.view:drop(active).after {
      border-top-style: none; }
    treeview.view:drop(active).before {
      border-bottom-style: none; }
  treeview header button {
    border-width: 0 1px 1px 0;
    border-radius: 0;
    outline-style: none; }
    treeview header button:last-child {
      border-width: 0 0 1px 0; }
    treeview header button:hover, treeview header button:focus:hover {
      background-image: none; }
    treeview header button:active, treeview header button:focus:active {
      color: #A9A9A9;
      background-color: #0000A9; }
  treeview entry, treeview entry.flat {
    border-radius: 0;
    background-image: none;
    background-color: #A9A9A9; }
    treeview entry:focus, treeview entry.flat:focus {
      border-color: #0000A9; }

.view {
  color: #000000;
  background-color: #A9A9A9; }
  .view:backdrop {
    color: #000000;
    background-color: #A9A9A9; }
  .view:not(treeview) {
    border-radius: 0px;
    -gtk-outline-radius: 0px; }
  .view:disabled {
    color: #8C8C8C;
    background-color: #A9A9A9; }
  .view:selected, .view:selected:focus, .view text:selected, .view text:selected:focus, .view text selection, .view text selection:focus {
    color: #A9A9A9;
    background-color: #0000A9; }
    .view:selected:disabled, .view:selected:focus:disabled, .view text:selected:disabled, .view text:selected:focus:disabled, .view text selection:disabled, .view text selection:focus:disabled {
      color: mix(#A9A9A9, #8C8C8C, 0.5);
      background-color: #0000A9; }
    .view:selected:backdrop, .view:selected:focus:backdrop, .view text:selected:backdrop, .view text:selected:focus:backdrop, .view text selection:backdrop, .view text selection:focus:backdrop {
      color: #A9A9A9;
      background-color: #0000A9; }

filechooser.csd.background, filechooser placessidebar list, .nautilus-window.csd.background, .nautilus-window placessidebar list, .nemo-window.csd.background, .nemo-window placessidebar list {
  background-color: #A9A9A9; }
filechooser .sidebar, .nautilus-window .sidebar, .nemo-window .sidebar {
  background-color: #A9A9A9; }
  filechooser .sidebar .view:not(:selected), filechooser .sidebar iconview, .nautilus-window .sidebar .view:not(:selected), .nautilus-window .sidebar iconview, .nemo-window .sidebar .view:not(:selected), .nemo-window .sidebar iconview {
    border: none;
    color: #000000;
    background-color: transparent; }
  filechooser .sidebar frame > border, filechooser .sidebar .frame, .nautilus-window .sidebar frame > border, .nautilus-window .sidebar .frame, .nemo-window .sidebar frame > border, .nemo-window .sidebar .frame {
    border: none; }
  filechooser .sidebar row:not(:selected), filechooser .sidebar view row:not(:selected), filechooser .sidebar row.sidebar-row:not(:selected), .nautilus-window .sidebar row:not(:selected), .nautilus-window .sidebar view row:not(:selected), .nautilus-window .sidebar row.sidebar-row:not(:selected), .nemo-window .sidebar row:not(:selected), .nemo-window .sidebar view row:not(:selected), .nemo-window .sidebar row.sidebar-row:not(:selected) {
    color: #000000; }
  filechooser .sidebar .expander, .nautilus-window .sidebar .expander, .nemo-window .sidebar .expander {
    color: #000000; }
    filechooser .sidebar .expander:hover, .nautilus-window .sidebar .expander:hover, .nemo-window .sidebar .expander:hover {
      color: #0000A9; }

.caja-navigation-window .caja-side-pane {
  background-color: #A9A9A9; }
  .caja-navigation-window .caja-side-pane .view:not(:selected), .caja-navigation-window .caja-side-pane iconview {
    border: none;
    color: #000000;
    background-color: transparent; }
  .caja-navigation-window .caja-side-pane frame > border, .caja-navigation-window .caja-side-pane .frame {
    border: none; }
  .caja-navigation-window .caja-side-pane row:not(:selected), .caja-navigation-window .caja-side-pane view row:not(:selected), .caja-navigation-window .caja-side-pane row.sidebar-row:not(:selected) {
    color: #000000; }
  .caja-navigation-window .caja-side-pane .expander {
    color: #000000; }
    .caja-navigation-window .caja-side-pane .expander:hover {
      color: #0000A9; }

stacksidebar.sidebar:dir(ltr) list, stacksidebar.sidebar.left list, stacksidebar.sidebar.left:dir(rtl) list {
  border-right: 1px solid #000000;
  border-left-style: none; }
stacksidebar.sidebar:dir(rtl) list, stacksidebar.sidebar.right list {
  border-left: 1px solid #000000;
  border-right-style: none; }
stacksidebar row {
  padding: 10px 4px; }
  stacksidebar row > label {
    padding-left: 6px;
    padding-right: 6px; }
  stacksidebar row.needs-attention > label {
    background-size: 6px 6px, 0 0; }

placessidebar > viewport.frame {
  border-style: none; }
placessidebar row {
  min-height: 36px;
  padding: 0px; }
  placessidebar row > revealer {
    padding: 0 14px; }
  placessidebar row image.sidebar-icon {
    opacity: 1; }
    placessidebar row image.sidebar-icon:dir(ltr) {
      padding-right: 8px; }
    placessidebar row image.sidebar-icon:dir(rtl) {
      padding-left: 8px; }
  placessidebar row label.sidebar-label:dir(ltr) {
    padding-right: 2px; }
  placessidebar row label.sidebar-label:dir(rtl) {
    padding-left: 2px; }
  placessidebar row.sidebar-new-bookmark-row {
    color: #0000A9; }
    placessidebar row.sidebar-new-bookmark-row:drop(active):not(:disabled) {
      color: #0000A9;
      box-shadow: inset 0 1px #0000A9, inset 0 -1px #0000A9; }
      placessidebar row.sidebar-new-bookmark-row:drop(active):not(:disabled):selected {
        color: #A9A9A9;
        background-color: #0000A9; }

button.sidebar-button, button.sidebar-button:backdrop {
  min-width: 22px;
  min-height: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  border-radius: 100%;
  color: #000000;
  -gtk-outline-radius: 100%; }
button.sidebar-button:hover, button.sidebar-button:active {
  color: #000000; }
button.sidebar-button:not(:hover):not(:active) > image {
  opacity: 0.5; }

actionbar {
  padding: 4px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #000000;
  color: #000000;
  background-color: #A9A9A9; }
  actionbar:backdrop {
    border-color: #000000;
    color: #000000;
    background-color: #A9A9A9; }
  actionbar button.text-button {
    padding: 4px; }
  actionbar button .image-button {
    padding: 6px; }
  actionbar .title {
    font-weight: bold;
    padding: 0 12px; }
  actionbar .subtitle {
    font-size: smaller;
    padding: 0 12px; }

searchbar {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #000000;
  background-color: #A9A9A9; }

.nautilus-window .searchbar-container {
  margin-top: -1px; }

.app-notification {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 0;
  margin: 5px;
  padding: 8px;
  background-color: #A9A9A9;
  color: #000000; }
  .app-notification border {
    border: none; }

.background.osd {
  color: #000000;
  background-color: #A9A9A9; }

.osd frame {
  background-clip: border-box;
  background-origin: border-box; }

.osd button, button.osd {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: shade(#A9A9A9, 0.8);
  border-radius: 0px;
  background-color: shade(#A9A9A9, 1.08);
  color: #000000; }
  .osd button:hover, button.osd:hover {
    border-color: shade(#A9A9A9, 0.7);
    background-color: shade(#A9A9A9, 1.1);
    color: #000000; }
  .osd button:active, .osd button:checked, button.osd:active, button.osd:checked {
    border-color: shade(#A9A9A9, 0.8);
    background-color: shade(#A9A9A9, 0.95);
    color: #000000; }
  .osd button:disabled, button.osd:disabled {
    border-color: shade(#A9A9A9, 0.85);
    background-color: shade(#A9A9A9, 0.9);
    color: alpha(#000000, 0.8); }
  .osd button:checked:disabled, button.osd:checked:disabled {
    background-color: shade(#A9A9A9, 0.8); }
  .osd button:backdrop, button.osd:backdrop {
    border-color: shade(#A9A9A9, 0.8);
    background-color: shade(#A9A9A9, 1.08); }

.osd toolbar, toolbar.osd {
  -GtkToolbar-button-relief: normal;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  border-color: shade(#A9A9A9, 0.8);
  background-color: #A9A9A9;
  color: #000000; }
  .osd toolbar button, toolbar.osd button {
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(#A9A9A9, 0.8);
    border-radius: 0px;
    background-color: shade(#A9A9A9, 1.08);
    color: #000000; }
    .osd toolbar button:hover, toolbar.osd button:hover {
      border-color: shade(#A9A9A9, 0.7);
      background-color: shade(#A9A9A9, 1.1);
      color: #000000; }
    .osd toolbar button:active, .osd toolbar button:checked, toolbar.osd button:active, toolbar.osd button:checked {
      border-color: shade(#A9A9A9, 0.8);
      background-color: shade(#A9A9A9, 0.95);
      color: #000000; }
    .osd toolbar button:disabled, toolbar.osd button:disabled {
      border-color: shade(#A9A9A9, 0.85);
      background-color: shade(#A9A9A9, 0.9);
      color: alpha(#000000, 0.8); }
    .osd toolbar button:checked:disabled, toolbar.osd button:checked:disabled {
      border-color: shade(#A9A9A9, 0.75);
      background-color: shade(#A9A9A9, 0.8); }
  .osd toolbar separator, toolbar.osd separator {
    color: shade(#A9A9A9, 0.9); }

.osd scale slider, scale.osd slider {
  background-color: #0000A9; }
  .osd scale slider:hover, scale.osd slider:hover {
    background-color: #0000A9; }
  .osd scale slider:disabled, scale.osd slider:disabled {
    background-color: mix(#A9A9A9, #000000, 0.15); }
.osd scale trough, scale.osd trough {
  border-color: mix(#A9A9A9, #000000, 0.15); }
  .osd scale trough:disabled, scale.osd trough:disabled {
    border-color: shade(#A9A9A9, 0.85);
    background-color: transparent; }
.osd scale highlight, scale.osd highlight {
  border-color: #0000A9;
  background-color: #0000A9; }

.osd progress, progress.osd {
  background-color: #000000; }

.osd progressbar, progressbar.osd {
  padding: 0; }
  .osd progressbar trough, progressbar.osd trough {
    padding: 0;
    border-style: none;
    border-radius: 0;
    background-color: transparent; }
  .osd progressbar progress, progressbar.osd progress {
    border-style: none;
    border-radius: 0;
    background-color: #0000A9; }

.osd scrollbar trough, scrollbar.osd trough {
  background-color: transparent; }
.osd scrollbar slider, scrollbar.osd slider {
  border-width: 0px;
  border-radius: 6px;
  background-color: mix(#A9A9A9, #000000, 0.21); }
  .osd scrollbar slider:hover, scrollbar.osd slider:hover {
    border-color: mix(#A9A9A9, #000000, 0.31);
    background-color: mix(#A9A9A9, #000000, 0.31); }
  .osd scrollbar slider:active, scrollbar.osd slider:active {
    border-color: mix(#A9A9A9, #000000, 0.31);
    background-color: mix(#A9A9A9, #000000, 0.1); }

.osd view, view.osd, .osd.view {
  background-color: #A9A9A9; }
  .osd view:selected, .osd view:selected:focus, view.osd:selected, view.osd:selected:focus, .osd.view:selected, .osd.view:selected:focus {
    background-color: transparent;
    border-style: solid;
    border-radius: 0;
    border-width: 3px;
    border-color: #000000;
    outline-color: transparent; }

button.destructive-action {
  border-width: 1px;
  border-style: solid;
  border-color: mix(#CC0000, #000000, 0.2);
  border-radius: 0px;
  color: mix(#A9A9A9, #CC0000, 0.1);
  background-color: #CC0000; }
  button.destructive-action:hover {
    border-color: mix(#CC0000, #000000, 0.3);
    background-color: mix(#CC0000, #A9A9A9, 0.2); }
  button.destructive-action:active {
    border-color: mix(#CC0000, #000000, 0.3);
    background-color: mix(#CC0000, #000000, 0.1); }
  button.destructive-action:backdrop {
    border-color: mix(#CC0000, #000000, 0.2);
    color: mix(#A9A9A9, #CC0000, 0.1);
    background-color: mix(#CC0000, #A9A9A9, 0.3); }

button.suggested-action {
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #0000A9;
  color: #A9A9A9;
  background-color: #0000A9; }
  button.suggested-action:active, button.suggested-action:checked {
    border-color: shade(#0000A9, 0.95);
    background-color: shade(#0000A9, 0.95); }
    button.suggested-action:active:backdrop, button.suggested-action:checked:backdrop {
      color: #A9A9A9;
      background-color: #A9A9A9; }
  button.suggested-action:disabled {
    border-color: mix(#0000A9, #A9A9A9, 0.2);
    color: mix(#A9A9A9, #8C8C8C, 0.2); }
    button.suggested-action:disabled:backdrop {
      border-color: mix(#0000A9, #A9A9A9, 0.2);
      color: mix(#A9A9A9, #8C8C8C, 0.2); }
  button.suggested-action:backdrop {
    border-color: #0000A9;
    color: #A9A9A9; }

headerbar button.suggested-action {
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #0000A9;
  color: #A9A9A9;
  background-color: #0000A9; }
  headerbar button.suggested-action:active, headerbar button.suggested-action:checked {
    border-color: shade(#0000A9, 0.95);
    background-color: shade(#0000A9, 0.95); }
    headerbar button.suggested-action:active:backdrop, headerbar button.suggested-action:checked:backdrop {
      color: #A9A9A9;
      background-color: #A9A9A9; }
  headerbar button.suggested-action:disabled {
    border-color: mix(#0000A9, #A9A9A9, 0.2);
    color: mix(#A9A9A9, #8C8C8C, 0.2); }
    headerbar button.suggested-action:disabled:backdrop {
      border-color: mix(#0000A9, #A9A9A9, 0.2);
      color: mix(#A9A9A9, #8C8C8C, 0.2); }
  headerbar button.suggested-action:backdrop {
    border-color: #0000A9;
    color: #A9A9A9; }

toolbar.selection-mode {
  padding: 4px; }

headerbar.selection-mode, toolbar.selection-mode {
  border-color: mix(#0000A9, #A9A9A9, 0.6);
  color: #A9A9A9;
  background-color: mix(#0000A9, #A9A9A9, 0.6); }
  headerbar.selection-mode:backdrop, toolbar.selection-mode:backdrop {
    border-color: mix(#0000A9, #A9A9A9, 0.6);
    color: #A9A9A9;
    background-color: mix(#0000A9, #A9A9A9, 0.6); }
  headerbar.selection-mode button, toolbar.selection-mode button {
    border-width: 1px;
    border-style: solid;
    border-color: mix(#0000A9, #A9A9A9, 0.7);
    border-radius: 0px;
    color: mix(#0000A9, #000000, 0.2);
    background-color: mix(#0000A9, #A9A9A9, 0.7); }
    headerbar.selection-mode button:hover, toolbar.selection-mode button:hover {
      border-color: mix(#0000A9, #A9A9A9, 0.75);
      background-color: mix(#0000A9, #A9A9A9, 0.75); }
    headerbar.selection-mode button:active, headerbar.selection-mode button:checked, toolbar.selection-mode button:active, toolbar.selection-mode button:checked {
      border-color: mix(#0000A9, #A9A9A9, 0.45);
      background-color: mix(#0000A9, #A9A9A9, 0.45); }
      headerbar.selection-mode button:active:backdrop, headerbar.selection-mode button:checked:backdrop, toolbar.selection-mode button:active:backdrop, toolbar.selection-mode button:checked:backdrop {
        border-color: mix(#0000A9, #A9A9A9, 0.45);
        background-color: mix(#0000A9, #A9A9A9, 0.45); }
    headerbar.selection-mode button:backdrop, toolbar.selection-mode button:backdrop {
      border-color: mix(#0000A9, #A9A9A9, 0.75);
      color: mix(#0000A9, #000000, 0.3);
      background-color: mix(#0000A9, #A9A9A9, 0.75); }
  headerbar.selection-mode button.suggested-action, toolbar.selection-mode button.suggested-action {
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: #0000A9;
    color: #A9A9A9;
    background-color: #0000A9; }
    headerbar.selection-mode button.suggested-action:active, headerbar.selection-mode button.suggested-action:checked, toolbar.selection-mode button.suggested-action:active, toolbar.selection-mode button.suggested-action:checked {
      border-color: shade(#0000A9, 0.95);
      background-color: shade(#0000A9, 0.95); }
      headerbar.selection-mode button.suggested-action:active:backdrop, headerbar.selection-mode button.suggested-action:checked:backdrop, toolbar.selection-mode button.suggested-action:active:backdrop, toolbar.selection-mode button.suggested-action:checked:backdrop {
        color: #A9A9A9;
        background-color: #A9A9A9; }
    headerbar.selection-mode button.suggested-action:disabled, toolbar.selection-mode button.suggested-action:disabled {
      border-color: mix(#0000A9, #A9A9A9, 0.2);
      color: mix(#A9A9A9, #8C8C8C, 0.2); }
      headerbar.selection-mode button.suggested-action:disabled:backdrop, toolbar.selection-mode button.suggested-action:disabled:backdrop {
        border-color: mix(#0000A9, #A9A9A9, 0.2);
        color: mix(#A9A9A9, #8C8C8C, 0.2); }
    headerbar.selection-mode button.suggested-action:backdrop, toolbar.selection-mode button.suggested-action:backdrop {
      border-color: #0000A9;
      color: #A9A9A9; }
  headerbar.selection-mode .selection-menu button, toolbar.selection-mode .selection-menu button {
    border-style: none;
    background-color: transparent;
    color: shade(#0000A9, 0.8); }
    headerbar.selection-mode .selection-menu button .dim-label, toolbar.selection-mode .selection-menu button .dim-label {
      color: shade(#0000A9, 0.7); }

decoration {
  border-radius: 0px 0px 0 0;
  border-width: 0px;
  margin: 10px;
  box-shadow: 19px 20px shade(black, 0.35), 0 0 0 1px black; }
  .fullscreen decoration, .tiled decoration {
    border-radius: 0;
    box-shadow: 0 0 0 1px black; }
  .popup decoration {
    border-radius: 0px;
    box-shadow: 10px 10px shade(black, 0.35), 0 0 0 1px black; }
  .ssd decoration {
    border-radius: 0px 0px 0 0;
    box-shadow: 19px 20px shade(black, 0.35), 0 0 0 1px black; }
    .ssd decoration.maximized {
      border-radius: 0;
      box-shadow: 0 0 0 1px black; }
  tooltip.csd decoration {
    border-radius: 0px;
    box-shadow: none; }
  .solid-csd decoration {
    margin: 1px;
    border-radius: 0px;
    background-color: alpha(white, 0.95);
    box-shadow: none; }

window.background.csd.popup {
  border-radius: 0; }

popover.background {
  box-shadow: 10px 10px shade(black, 0.35); }

messagedialog {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }
  messagedialog .background.csd {
    border-radius: 0px;
    color: #000000;
    background-color: #A9A9A9; }
  messagedialog decoration {
    border-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 1px 2px alpha(black, 0.2); }
  messagedialog .titlebar.horizontal {
    border: none;
    background-image: none;
    background-color: #A9A9A9; }
  messagedialog.csd .dialog-action-area button {
    padding: 10px;
    border-radius: 0;
    border-bottom-style: none;
    background-image: none;
    -gtk-outline-radius: 0; }
    messagedialog.csd .dialog-action-area button:last-child {
      border-right-width: 0;
      border-radius: 0px;
      border-bottom-right-radius: 0px;
      -gtk-outline-radius: 0 0 0px 0; }
    messagedialog.csd .dialog-action-area button:first-child {
      border-left-width: 0;
      border-radius: 0px;
      border-bottom-left-radius: 0px;
      -gtk-outline-radius: 0 0 0 0px; }
    messagedialog.csd .dialog-action-area button:only-child {
      border-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      -gtk-outline-radius: 0 0 0px 0px; }

.titlebar {
  border-bottom: none;
  border-radius: 0px 0px 0px 0px; }
  .titlebar .title {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    background-color: #A9A9A9; }
  .titlebar .subtitle {
    font-size: smaller;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #A9A9A9;
    color: alpha(currentColor, 0.7); }
  .titlebar .titlebutton.close, .titlebar .titlebutton.maximize, .titlebar .titlebutton.minimize, .titlebar .titlebutton:not(separator) {
    padding: 0;
    min-height: 17px;
    min-width: 17px;
    border: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    background-color: transparent;
    -gtk-icon-shadow: none;
    background-position: center;
    background-repeat: no-repeat; }
  .tiled .titlebar:not(headerbar), .tiled .titlebar:backdrop:not(headerbar), .maximized .titlebar:not(headerbar), .maximized .titlebar:backdrop:not(headerbar) {
    border-radius: 0; }

.titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
  min-height: 30px;
  color: #000000;
  background-color: #A9A9A9; }
  .titlebar:backdrop, .titlebar:not(headerbar):backdrop, headerbar.default-decoration:backdrop, .csd headerbar.default-decoration:backdrop, .default-decoration.titlebar:not(headerbar):backdrop, .csd .default-decoration.titlebar:not(headerbar):backdrop {
    color: #000000;
    background-color: #A9A9A9; }

.caja-desktop, .nemo-desktop.nemo-canvas-item, .nautilus-desktop.nautilus-canvas-item {
  color: #FFFFFF;
  text-shadow: 1px 1px alpha(black, 0.8); }
  .caja-desktop:active, .nemo-desktop.nemo-canvas-item:active, .nautilus-desktop.nautilus-canvas-item:active {
    color: #FFFFFF; }
  .caja-desktop:selected, .nemo-desktop.nemo-canvas-item:selected, .nautilus-desktop.nautilus-canvas-item:selected {
    color: #A9A9A9;
    text-shadow: none; }

panel-toplevel.background, panel-toplevel.background menubar {
  background-color: #A9A9A9;
  color: #000000; }
panel-toplevel.background menubar, panel-toplevel.background #PanelApplet label, panel-toplevel.background #PanelApplet image {
  color: #000000; }
panel-toplevel.background menubar > menuitem, panel-toplevel.background menubar > menuitem label:backdrop {
  color: #000000; }
panel-toplevel.background menubar > menuitem:hover, panel-toplevel.background menubar > menuitem:hover label:backdrop {
  color: #A9A9A9; }
panel-toplevel.background button {
  background-color: #A9A9A9;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #000000; }
  panel-toplevel.background button:active, panel-toplevel.background button:checked {
    background-color: shade(#A9A9A9, 0.8);
    border: none;
    box-shadow: none;
    color: #000000; }

#tasklist-button, #tasklist-button label {
  color: alpha(#000000, 0.7);
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: transparent; }
  #tasklist-button:hover, #tasklist-button label:hover {
    color: alpha(#000000, 0.7);
    background-color: transparent; }
  #tasklist-button:checked, #tasklist-button label:checked {
    color: #000000; }

panel-toplevel.background na-tray-applet {
  -NaTrayApplet-icon-padding: 0;
  -NaTrayApplet-icon-size: 16px; }

.mate-panel-menu-bar menubar > menuitem {
  color: #000000;
  background-color: #A9A9A9; }

.mate-panel-menu-bar {
  color: #000000;
  background-color: #A9A9A9; }
  .mate-panel-menu-bar button, .mate-panel-menu-bar button.flat {
    background-color: transparent; }
  .mate-panel-menu-bar, .mate-panel-menu-bar .menubar {
    background-color: #A9A9A9; }
  .mate-panel-menu-bar menubar, .mate-panel-menu-bar menubar menuitem, .mate-panel-menu-bar togglebutton {
    border-color: transparent;
    background-color: transparent; }
  .mate-panel-menu-bar menubar menuitem:hover, .mate-panel-menu-bar menubar menuitem:active {
    color: #A9A9A9;
    background-color: #0000A9; }
  .mate-panel-menu-bar .menubar > .menuitem {
    padding-top: 0;
    padding-bottom: 0; }
  .mate-panel-menu-bar GtkMenu .label {
    color: #000000;
    font-style: normal; }
    .mate-panel-menu-bar GtkMenu .label:disabled {
      color: #8C8C8C; }
  .mate-panel-menu-bar .button:not(#tasklist-button) {
    color: #000000;
    border-radius: 0;
    border: none;
    background-color: #A9A9A9; }
    .mate-panel-menu-bar .button:not(#tasklist-button):hover {
      border: none;
      background-color: shade(#A9A9A9, 1.1); }
    .mate-panel-menu-bar .button:not(#tasklist-button):active, .mate-panel-menu-bar .button:not(#tasklist-button):checked {
      color: #A9A9A9;
      border: none;
      background-color: #0000A9; }
  .mate-panel-menu-bar #tasklist-button {
    color: #000000;
    border-radius: 0;
    border: none;
    padding-bottom: 0;
    padding-top: 0; }
    .mate-panel-menu-bar #tasklist-button:hover {
      background-color: shade(#A9A9A9, 1.1); }
    .mate-panel-menu-bar #tasklist-button:checked, .mate-panel-menu-bar #tasklist-button:active {
      color: #A9A9A9;
      background-color: #0000A9; }
  .mate-panel-menu-bar PanelSeparator {
    color: shade(#A9A9A9, 0.7);
    padding-top: 4px;
    padding-bottom: 4px; }
  .mate-panel-menu-bar NaTrayApplet {
    -NaTrayApplet-icon-padding: 2; }
  .mate-panel-menu-bar #PanelApplet label {
    color: #000000; }
  .mate-panel-menu-bar .caja-desktop.entry, .mate-panel-menu-bar .caja-navigation-window .view.entry {
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    border-color: shade(#0000A9, 0.6);
    background-color: #A9A9A9; }
    .mate-panel-menu-bar .caja-desktop.entry:selected, .mate-panel-menu-bar .caja-navigation-window .view.entry:selected {
      color: #A9A9A9;
      background-color: #0000A9; }

.mintmenu:hover {
  background-color: shade(#A9A9A9, 1.1); }

.mintmenu:selected {
  color: #A9A9A9;
  background-color: #0000A9; }

.wnck-pager {
  background-color: alpha(black, 0.04); }
  .wnck-pager:selected {
    background-color: alpha(#0000A9, 0.3); }
  .wnck-pager:hover {
    background-color: alpha(#0000A9, 0.2); }

.xfce4-panel.panel {
  background-color: #A9A9A9; }
  .xfce4-panel.panel button.flat, .xfce4-panel.panel button.sidebar-button {
    color: #000000;
    background-color: #A9A9A9;
    border-radius: 0;
    border: none; }
    .xfce4-panel.panel button.flat:hover, .xfce4-panel.panel button.sidebar-button:hover {
      border: none;
      background-color: shade(#A9A9A9, 1.1); }
    .xfce4-panel.panel button.flat:active, .xfce4-panel.panel button.flat:checked, .xfce4-panel.panel button.sidebar-button:active, .xfce4-panel.panel button.sidebar-button:checked {
      color: #0000A9;
      border: none;
      background-color: shade(#A9A9A9, 0.93); }

#XfceNotifyWindow.osd {
  background-color: #A9A9A9;
  color: #000000;
  border-radius: 0px;
  border: none; }
  #XfceNotifyWindow.osd label#summary {
    font-weight: bold; }
  #XfceNotifyWindow.osd button {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    color: #000000;
    border-color: transparent;
    background-color: transparent;
    outline-offset: 1px;
    outline-width: 3px;
    outline-style: solid;
    -gtk-outline-radius: 3px; }
    #XfceNotifyWindow.osd button:active, #XfceNotifyWindow.osd button:checked {
      color: #A9A9A9;
      border-color: transparent;
      background-color: #0000A9; }
      #XfceNotifyWindow.osd button:active:backdrop, #XfceNotifyWindow.osd button:checked:backdrop {
        color: #A9A9A9; }
      #XfceNotifyWindow.osd button:active:disabled, #XfceNotifyWindow.osd button:checked:disabled {
        color: #8C8C8C;
        border-color: mix(#000000, #A9A9A9, 0.85);
        background-color: shade(#A9A9A9, 0.9); }
    #XfceNotifyWindow.osd button:disabled {
      color: #8C8C8C; }

.nemo-window .nemo-window-pane widget.entry {
  border: 1px solid;
  border-radius: 3px;
  border-color: #0000A9;
  color: #000000;
  background-color: #A9A9A9; }
  .nemo-window .nemo-window-pane widget.entry:selected, .nemo-window .nemo-window-pane widget.entry:selected:focus {
    color: #A9A9A9;
    background-color: #0000A9; }

UnityDecoration {
  -UnityDecoration-extents: 28px 0 0 0;
  -UnityDecoration-input-extents: 10px;
  -UnityDecoration-shadow-offset-x: 1px;
  -UnityDecoration-shadow-offset-y: 1px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.7);
  -UnityDecoration-active-shadow-radius: 8px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.5);
  -UnityDecoration-inactive-shadow-radius: 5px;
  -UnityDecoration-glow-size: 10px;
  -UnityDecoration-glow-color: #0000A9;
  -UnityDecoration-title-indent: 10px;
  -UnityDecoration-title-fade: 35px;
  -UnityDecoration-title-alignment: 0.0; }
  UnityDecoration .top {
    border: none;
    border-radius: 0px 0px 0 0;
    padding: 1px 8px 0 8px;
    background-color: #A9A9A9;
    color: mix(#000000, #A9A9A9, 0.1);
    text-shadow: none; }
    UnityDecoration .top:backdrop {
      background-color: #A9A9A9;
      color: mix(#000000, #A9A9A9, 0.4); }
  UnityDecoration .left, UnityDecoration .right, UnityDecoration.bottom {
    background-color: #A9A9A9; }
    UnityDecoration .left:backdrop, UnityDecoration .right:backdrop, UnityDecoration.bottom:backdrop {
      background-color: #A9A9A9; }
  UnityDecoration.menuitem, UnityDecoration .menuitem {
    border-radius: 0; }
    UnityDecoration.menuitem:hover, UnityDecoration.menuitem *:hover, UnityDecoration .menuitem:hover, UnityDecoration .menuitem *:hover {
      background-color: #0000A9;
      color: #A9A9A9; }

UnityPanelWidget, .unity-panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #A9A9A9;
  background-color: #A9A9A9;
  color: #000000; }
  UnityPanelWidget.menuitem, UnityPanelWidget .menuitem, .unity-panel.menuitem, .unity-panel .menuitem {
    border-width: 0 1px;
    color: #000000; }

@keyframes playbackmenuitem_spinner {
  to {
    -gtk-icon-transform: rotate(1turn); } }
.menu IdoPlaybackMenuItem.menuitem:active {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: playbackmenuitem_spinner 1s infinite linear;
  color: #0000A9; }

/* GTK NAMED COLORS - use responsibly! */
/* widget text/foreground color */
@define-color theme_fg_color #000000;
/* text color for entries, views and content in general */
@define-color theme_text_color #000000;
/* widget base background color */
@define-color theme_bg_color #A9A9A9;
/* text widgets and the like base background color */
@define-color theme_base_color #A9A9A9;
/* base background color of selections */
@define-color theme_selected_bg_color #0000A9;
/* text/foreground color of selections */
@define-color theme_selected_fg_color #A9A9A9;
/* base background color of insensitive widgets */
@define-color insensitive_bg_color #A9A9A9;
/* text foreground color of insensitive widgets */
@define-color insensitive_fg_color #8C8C8C;
/* insensitive text widgets and the like base background color */
@define-color insensitive_base_color #A9A9A9;
/* widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #000000;
/* text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #000000;
/* widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #A9A9A9;
/* text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #A9A9A9;
/* base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #0000A9;
/* text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #A9A9A9;
/* insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color #8C8C8C;
/* widgets main borders color */
@define-color borders #000000;
/* widgets main borders color on backdrop windows */
@define-color unfocused_borders #000000;
/* these are pretty self explicative */
@define-color warning_color #FF9900;
@define-color error_color #CC0000;
@define-color success_color #00AAAA;
/* these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title shade(#000000, 1.8);
@define-color wm_unfocused_title #000000;
@define-color wm_highlight black;
@define-color wm_borders_edge #000000;
@define-color wm_bg_a shade(#A9A9A9, 1.2);
@define-color wm_bg_b #A9A9A9;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(#A9A9A9, 1.3);
@define-color wm_button_hover_color_b #A9A9A9;
@define-color wm_button_active_color_a shade(#A9A9A9, 0.85);
@define-color wm_button_active_color_b shade(#A9A9A9, 0.89);
@define-color wm_button_active_color_c shade(#A9A9A9, 0.9);
@define-color content_view_bg #A9A9A9;
